.modal-dialog {
  max-width: 80%;
  color: #fff;
}

.modal-content {
  background: none;
  .thumb-service {
    color: #fff;
    span {
      
    }
  }
}

.gallery__slide {
  text-align: center;
  img {
    display: inline-block;
    width: auto !important;
  }
  li {
    overflow: hidden;
  }
}

.gallery__for {
  margin-bottom: 20px;
  li{
    max-height: 500px;
  }
  img {
    height: 500px;
  }
}
.gallery__nav {
  li {
    width: 100px;
    height: 90px;
    padding: 0 10px;
    cursor: pointer;
  }
  img {
    opacity: 0.6;
    transition:0.3s ease;
    height: 90px;
  }

  .slick-current {
    img {
      opacity: 1;
      
    }

  }

}

