.modal {
  background: rgba(0, 0, 0, 0.6);
  padding-right: 0 !important;
}

.close-modal {
  @include absolute(top -15px right);
  color: $gray-medium; 
  font-size: 28px;
  z-index: 10;
  i {
    margin: 0;
  }

  &:hover {
    color: #999;
  }
}

.modal-dialog {
  width: auto;
}
.mfp-close-btn-in .mfp-close {
  color: #fff;
  display: block;
  z-index:9;
}

.mfp-wrap {
  .modal {
  }
}

.modal-dialog {
  color: #fff;

  @media (min-width: 576px){
    max-width: none;
  }
  @include screen(medium){
    max-width: 80%;
  }

  .slick-arrow {
    font-size: 0;
    position: absolute;
    top: 0;
    height: 100%;
    width: 50px;
    z-index: 10;
    right: 0;
    transform:none;
    background: none;
  }
  .slick-prev {
    left: 0;
  }
  h3 {
    text-transform: none;
    font-size: 22px;
  }
}

.modal-content {
  background: none;
  box-shadow: none;
  padding: 0 10px;
  .thumb-service {
    color: #fff;
    span {

    }
  }
}

.gallery__info {
  padding: 0 55px;
}

.gallery__slide {
  padding-top: 20px !important;
  text-align: center;
  img {
    display: inline-block;
    width: auto !important;
  }
  li {
    overflow: hidden;
    background: rgba(0, 0, 0, 0.75);
  }

}

#galleryDetail {

  [class*='col-'] {
    padding: 0;
    @include screen(small){
      padding: 0 20px;
    }
  }
  
}
.gallery__for {
  margin-bottom: 20px;
  font-size: 0;
  li{
    max-height: 500px;
  }
  img {
    height: auto;

    @include screen(small){
      height: 300px;
    }
    @include screen(large){
      height: 500px;
    }
  }
}
.gallery__nav {
  li {
    width: 100px;
    height: 90px;
    padding: 0 10px;
    cursor: pointer;
    @include screen(medium) {
      &:hover {
        img {
          opacity: 1;
        }
      }
    }
  }
  img {
    opacity: 0.4;
    transition:0.3s ease-out;
    height: 90px;
  }
  .slick-arrow {
    height: 100%;
  }

  .slick-current {
    img {
      opacity: 1;
    }
  }
}

#inspectionForm {
  .modal-body  {
    max-width: 1020px;
    margin: 20px auto;
    background: #fff;
    color: #333;
    padding: 20px 10px;
    @include screen(medium){
      padding: 20px 40px;
    }
  }
  .thumb-service {
    color: #333;
  }
  .house-code {
    @include screen(medium){
      @include absolute(top right);
    }
  }
  .locate {
    font-size: 16px;
  }

  .block-title {
    margin: 0;
    position: relative;
  }
  h2 {
    font-size: 18px;
    @include screen(medium){
      padding-right: 130px;
      font-size: 22px;
    }
  }
}

.modal-inspectation {
  .mfp-close {
    top: -50px;
  }
}