header {
  background-size: cover;
  min-height: 50px;
  position: relative;
  z-index: 101;
  padding: 5px 30px;
  box-shadow: 0 0 20px #aaa;
  @extend .clearfix;
  @include screen(medium){
    min-height: 65px;
    background: #fff;
    width: 100%;
  }


  .btn-group.open {
    >.dropdown-menu {
      display: none;
      @include screen(medium){
        display: block;
      }
    }
    .dropdown-toggle  {
      cursor: pointer;
      box-shadow: none;
    }
  }


  .dropdown-menu {
    left:auto;
    right: 0;

    .divider {
      height: 1px;
      margin: 9px 0;
      overflow: hidden;
      background-color: #e5e5e5 !important;
      width: 100%;
    }
    &::after {
      content: '';
      border: solid transparent;
      position: absolute;
      top: -25px;
      border-width: 12px;
      border-bottom-color: #ddd;
      margin-left: -6px;
      right: 15px;
    }
    > li > a {
      line-height: 24px;
      font-size: 14px;
      letter-spacing: 0;
      .fa {
        padding-right: 5px;
        -moz-min-width: 25px;
        -ms-min-width: 25px;
        -o-min-width: 25px;
        -webkit-min-width: 25px;
        min-width: 10px;
      }
    }
  }

  .btn-submit {
    color: #999;
    @include absolute(top 10px right 8px);
    background: none;
    border: none;
    outline: none;
  }

  .close-form {
    @include absolute(top 6px right 8px);
    background: none;
    border:none;
    outline: none;
    padding: 0;
    font-size: 20px;
  }
}

.menu__login {
  @include screen(medium){
    float: right;
  }
  span {
    display: none;
  }
}
.login--member {
  @include screen(medium){
    float: right;
  }
  .welcome {
    @include screen(medium){
      display: none;
    }
  }

  .caret, .badge ,.avatar{
    display: none;
    @include screen(medium){
      display: inline-block;
    }
  }

}


.logo {
  position: absolute;
  transform:none;
  margin-left: 0;
  line-height: 42px;
  height: 42px;
  top: 0;
  @include center(top);

  @include screen(medium){
    transform:none;
    left: 0;
    position: static;
  }

  img {
    vertical-align: middle;
    display: inline-block;
    max-width: 135px;
  }
}
.twitter-typeahead {
  display: block !important;
}
.wrapper-inputtags {
  @include absolute(top 50% left 12%);
  border:1px solid #aaa;
  background: #fff;
  padding: 0px;
  height: 45px;
  width: 30%;
  border-radius: 3px;
  transform:translate(40px,-50%);
  transition:0.3s transform ease-out;
  vertical-align: middle;
  z-index: 1;

  &.collapse {
    opacity: 0;
  }

  &.collapsing {
    opacity: 0;
  }

  &.show {
    transform: translate(0,-50%);
    opacity: 1;
    z-index: 3;
  }
  .fa {
    color: #999;
    font-size: 20px;
    margin-right: 0;
  }

  input {
    // display: none;
    border:none;
    height: 35px;
    width: 100%;
  }
}

.bg-popup {
  position: fixed;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9;
  opacity: 0;
  transition:0.5s ease-out opacity;

  &.show {
    width: 100%;
    opacity: 1;
  }
}

.box-suggest {
  height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 10px 30px 20px;
  background: #fff;
  @include absolute(top 100% left);
  width: 100%;
  h3 {
    color: #333;
    margin: 20px 0;
  }
  a{
    display: block;
  }
  li {
    @include screen(medium) {
      &:hover {
        background: $blue;
        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
  &.active {
    height: auto;
    opacity: 1;
  }
}
.suggest__tag {
  font-size: 0;
  margin: 0 -5px;
  li {
    vertical-align:top;
    display: inline-block;
    margin: 5px;
    font-size: 16px;
  }

  a {
    border:1px solid #c3c3c3;
    padding: 5px 10px;
    display: block;
  }
}

.suggest__list {
  li {
    position: relative;
    padding-left: 25px;
    padding: 6px 30px;
    &:before {
      content: "";
      position: absolute;
      top: 8px;
      left: 5px;
      color: #999;
      display: block;
      font: normal normal normal 18px/1 FontAwesome;
    }
    a {
      display: block;
    }
  }
}
.list-recent {
  li {
    &:before {
      content: "\f017";

    }
  }
}
.list-place {
  li {
    &:before {
      content: "\f041";

    }
  }
}

.form-wrapper {
  position: relative;
  @include screen(medium){
    padding: 5px 35px;
  }

  > .bootstrap-tagsinput {
    padding: 3px 5px;
    background: #fff;
    border-radius: 3px;
  }
}
.phone-number {
  &:hover {
    @include screen(medium){
      background: $blue !important;
      a {
        color: #fff;
        border:none;
        text-decoration: none;
      }
    }
  }
}

#searchHeader {
  display: none;
  @include screen(medium){
    display: block;
  }

  .collapse.show {
    display: inline-block;
  }

}


.bootstrap-tagsinput {

  // > * {
  //   display: inline-block;
  // }

  [data-role="remove"] {
    color:#333;
    @extend .fa;
    @extend .fa-close;
    cursor: pointer;
    &:before {
      border-left: 1px solid;
      padding-left: 5px;
      margin-left: 5px;
      font-size: 16px;
    }
  }
  .label-info {
    display: inline-block;
    margin: 3px 0;
    background: $gray-light;
  }
}


nav {
  @include absolute(top left);
  width: 100%;
  @include screen(medium){
    position: relative;
    max-width: 50%;
    margin: 0 auto;
    height: 100%;
    float: right;
  }

  @media (min-width: 1024px) and (max-width: 1140px) {
    max-width: 58%;
  }

  .btn-burger {
    @include absolute(top left );
  }
}

.main-menu {
  background: #fff;
  // overflow:hidden;
  height:0;
  opacity: 0;
  display: none;
  padding: 0 10px;
  padding: 20px 0; 
  z-index: 1;
  @include screen(medium){
    opacity: 1;
    display: block;
    padding: 0;
    height: auto;
    width: 100%;
    float: right;
    text-align: right;
    background: none;
  }

  .form-wrapper {
    padding: 5px 0;
    input {
      width: 100%;
    }
  }

  &.active {
    margin:0;
    width: 100%;
    opacity: 1;
    width:100%;
    height: 10000px;
    @include absolute(top 50px left);
    @include screen(medium){
      height: auto;
      position: relative;
    }

    li {
      width:100%;
      @include screen(medium){
        width:auto;
      }
    }
    a{
      background: #fff; 
      padding: 0 10px;
    }
  }

  li {
    background: #fff;

    @include screen(medium){
      height: auto;
      border:none;
      display: inline-block;
      background: none !important;
      position: relative;
      padding: 0 5px;
      vertical-align: middle;
      transition:0.3s ease-out;
      opacity: 1;
      transform: scale(1);
    }


    & + li {

      border-bottom:1px solid $blue;
      @include screen(medium){
        border-bottom:none;
      }
    }

    &.active {
      a {
        background: #006228;
        @include screen(medium){
          background: none;
        }
      }
    }
  }


  &.off {
    li {
      transform: scale(0.9, 0.9);
      opacity: 0;
      z-index: -1;
    }
  }

  a {
    display: block;
    text-transform: capitalize;
    text-align: left;
    line-height: 42px;
    letter-spacing: 1px;
    padding: 0 5px;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.85);
    @include screen(medium){
      opacity: 1;
      width: auto;
      font-size: 13px;
      line-height: 49px;
      text-shadow:none;
      transform:none;
      display: inline-block;
      letter-spacing: 0;
      border-bottom: 4px solid transparent;
      &:hover {
        border-color: #fff;
      }
    }
    @include screen(large){
      letter-spacing: 1px;
    }
    br {
      display: none;
      @include screen(medium){
        display: block;
      }
    }

    &.animate {
      transform: translateX(0);
      opacity: 1;
    }


    &.btn-facebook {
      @include absolute(bottom left);
      @include linear-gradient(to bottom, #1f1041 0%, #5b1a85 100%);
      transform: translateX(0);
      width: 100%;
      font-size: 14px;
      line-height: 50px;
      @include screen(medium){
        line-height: 37px;
        width: auto;
        position: initial;

        &.user-name__login {
          background: none;
        }
        &:after {
          content:'';
          display: table;
          clear: both;
        }
      }

      .icon-fb {
        text-align: center;
        float: left;
        width: 58px;
        height: 52px;
        @include linear-gradient(to bottom, #160b3a 0%, #461171 100%);
        @include screen(medium) {
          width: 42px;
          height: 37px;
          background: #2b3987;
        }
      }

      .text-fb {
        float: left;
        width: calc(100% - 59px);
        padding: 0 5px;
        text-align: center;
        white-space: nowrap;
        @include screen(medium) {
          padding: 0 30px;
          background: #3b5998;
          width: calc(100% - 42px);
        }
      }
    }
  }

  .open-search {
    opacity: 0;
    transiton:0.5s ease-out;

    &.collapsed {
      opacity: 1;
    }
  }


  &.active {
    display: block;
  }
}

.nav-user {
  float: right;
  padding-top: 6px;
  margin-right: 10px;
  @extend .show-for-small;

  .icon-user {
    border-radius: 50%;
    overflow: hidden;
  }
}

.icon-user {
  border-radius: 50%;
  overflow: hidden;
}

.nav-user__menu {
  list-style: none;
  margin: 0;
  padding: 0;
}


.menu-user {
  width: 210px;
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid #fff;
  display: block;
  margin: 0;
  padding: 5px 0;
  @include absolute(top 60px right 5px);
  @include screen(medium){
    top: 85px;
  }
  &:after {
    content: '';
    @include absolute(top -11px right 7%);
    @include css-triangle(5px, #fff, bottom);
  }
  li {
    display: block;
    text-align: right;
    a {
      color: #fff;
      text-transform: uppercase;
      padding: 8px 20px;
      display: block;
    }
    &:not(:first-child){
      // border-top: 1px solid #fff;
    }
  }
}


.search-form {
  padding: 0;
  position: relative;

  .btn-submit {
    color: #999;
    @include absolute(top 8px right);
    background: none;
    border: none;
    outline: none;
    font-size: 16px; 
    @include screen(medium){
      top: 12px;
      right: 8px;
    }
  }
  input {
    height: 35px;
    width: 100%;
  }
}
.box__search {
  padding: 30px 10px; 
  @include absolute(top 50px left);
  width: 100%;
  height: 10000px;
  z-index: 5;
  background: #fff;
  @include screen(medium){
    display: none !important;
  }

  .btn {
    width: 100%;
  }
  .link-arrow {
    color: $red;
    text-decoration: none;
  }
}

.icon-search {
  @include absolute(top right) 
  width: 50px;
  height: 50px;
  font-size: 0;
  transition:0.3s;
  @include screen(medium){
    display: none;
  }
  &:after {
    content:"\f002";
    position: absolute;
    color: #333;
    display: block;
    font: normal normal normal 18px/1 FontAwesome;
    font-size: 20px;
    top: 45%;
    left: 60%;
    transform: translate(-50%,-50%);
  }
  &.active {
    &:after {
      content: '\f00d';
    }
  }
}


.badge {
  font-weight: bold;
  padding: 0 4px;
  border-radius: 3px;
  font-size: 10px;
  line-height: 14px;
}

.badge-notification {
  background-color: rgba(224, 0, 7, 0.8);
}

.badge-header {
  position: absolute;
  right: 4px;
  top: 3px;
  border-color: #e00007;
  color: #fff;
  background-color: #e00007;
}

.header-item .badge {
  float: right;
  margin-top: 3px;
}

.legit-badge {
  border: 1px solid #2486bb;
  background: none;
  padding: 1px 7px 3px 7px;
  color: #2486bb;
  font-size: 11px;
}

[data-legit="false"] .legit-badge, [data-legit="False"] .legit-badge {
  display: none;
}

.search-listing-item .info h3 {
  &[data-legit="true"], &[data-legit="True"] {
    width: calc(100% - 10px);
  }
}

.dropdown-login {
  width: 300px;
  right: 0;
  left: auto;
  padding: 20px;
  &::after {
    right: 15px;
    left: auto !important;
  }
  button:first-child {
    margin-bottom: 7px;
  }
}

.header-user-login ul.dropdown-menu {
  -moz-min-width: 200px;
  -ms-min-width: 200px;
  -o-min-width: 200px;
  -webkit-min-width: 200px;
  min-width: 200px;
  left: auto;
  right: 0;
}

.header-item {
  .badge {
    float: right;
    margin-top: 3px;
  }
  .message-item {
    height: 40px;
    overflow: hidden;
    margin-bottom: 0;
    line-height: 19px;
    font-size: 12px;
    img {
      float: left;
      margin-right: 5px;
      border-radius: 1px;
    }
  }
}

.login-dropdown .header-item {
  -moz-min-width: 230px;
  -ms-min-width: 230px;
  -o-min-width: 230px;
  -webkit-min-width: 230px;
  min-width: 230px;
  white-space: normal;
  width: 500px;
}

.avatar {
  border: 3px solid #2affd9;
  background: center;
  -ms-background-size: cover;
  background-size: cover;
  vertical-align: middle;
}

.header-avatar {
  width: 45px;
  height: 45px;
  -ms-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  background: center;
  -ms-background-size: cover;
  background-size: cover;
  border-width: 0!important;
}