{% extends "./_templates/layout.twig" %}

{% block page %}
	<main class="site-main">

		<section class="section-banner banner">
			<figure>
				<img src="assets/images/dummy/property_featured.png" />
			</figure>
		</section>

		<section class="section-list-property">
			<div class="container">
				<form action="" class="form-property">
					<div class="form-wrapper">
						<h2>List Your Property</h2>
						<p>It’s absolutely free to list your property with Hoozing. Please fill the following form and our
							team will get in touch with you in the shortest time possible.
						</p>
						<h3>CONTACT INFORMATION *</h3>
						<div class="input-wrapper">
							<input type="text" placeholder="Your Name" />
						</div>
						<div class="input-wrapper">
							<input type="text" placeholder="Email Address" />
						</div>
						<div class="input-wrapper">
							<input type="text" placeholder="Phone Number" />
						</div>
						<div class="input-wrapper">
							<input type="text" placeholder="Your Availability" />
						</div>
						<p class="note">E.g. Available on weekdays after 3PM for house inspections</p>
						<h3>APARTMENT OVERVIEW *</h3>
						<div class="select-wrapper select-range">
							<span>Apartment Project</span>
							<ul>
								<li class="active">0</li>
								<li>$10000</li>
								<li>$20000</li>
								<li>$30000</li>
								<li>$40000</li>
							</ul>
						</div>
						<div class="input-wrapper">
							<input type="text" placeholder="Address" />
						</div>
						<div class="select-wrapper select-range">
							<span>District</span>
							<ul>
								<li class="active">0</li>
								<li>1</li>
								<li>2</li>
								<li>3</li>
								<li>4</li>
							</ul>
						</div>
						<div class="input-wrapper">
							<input type="text" placeholder="Price per month (USD)" />
						</div>
						<div class="input-wrapper">
							<input type="text" placeholder="Bond" />
						</div>
						<div class="select-wrapper select-range">
							<span>Furnishment</span>
							<ul>
								<li class="active">0</li>
								<li>1</li>
								<li>2</li>
								<li>3</li>
								<li>4</li>
							</ul>
						</div>
						<div class="select-wrapper select-bed">
							<span>Any bed</span>
							<ul>
								<li class="active">Bedroom</li>
								<li>1+</li>
								<li>2+</li>
								<li>3+</li>
								<li>4+</li>
								<li>5+</li>
								<li>6+</li>
							</ul>
						</div>
						<div class="select-wrapper select-bath">
							<span>Any bath</span>
							<ul>
								<li class="active">Bathroom</li>
								<li>1+</li>
								<li>2+</li>
								<li>3+</li>
								<li>4+</li>
								<li>5+</li>
							</ul>
						</div>

						<h3>AMENITIES *</h3>

						<ul class="list-check">
                <li>
                  <div class="checkbox-wrapper check-switch">
                    <input type="checkbox" id="f_tv" name="f_tv">
                    <label for="f_tv">TV</label>
                  </div>
                </li>
                <li>
                  <div class="checkbox-wrapper check-switch">
                    <input type="checkbox" id="f_microwave" name="f_microwave">
                    <label for="f_microwave">Microwave</label>
                  </div>
                </li>
                <li>
                  <div class="checkbox-wrapper check-switch">
                    <input type="checkbox" id="f_aircondition" name="f_aircondition">
                    <label for="f_aircondition">Air contitioner</label>
                  </div>
                </li>
                <li>
                  <div class="checkbox-wrapper check-switch">
                    <input type="checkbox" id="f_chimney" name="f_chimney">
                    <label for="f_chimney">Electric chimney</label>
                  </div>
                </li>
                <li>
                  <div class="checkbox-wrapper check-switch">
                    <input type="checkbox" id="f_smock-detector" name="f_smock-detector">
                    <label for="f_smock-detector">Smoke detector</label>
                  </div>
                </li>
                <li>
                  <div class="checkbox-wrapper check-switch">
                    <input type="checkbox" id="f_fire-extinguisher" name="f_fire-extinguisher">
                    <label for="f_fire-extinguisher">Fire extinguisher</label>
                  </div>
                </li>
                <li>
                  <div class="checkbox-wrapper check-switch">
                    <input type="checkbox" id="f_balcony" name="f_balcony">
                    <label for="f_balcony">Balcony</label>
                  </div>
                </li>
                <li>
                  <div class="checkbox-wrapper check-switch">
                    <input type="checkbox" id="f_first-aid-kit" name="f_first-aid-kit">
                    <label for="f_first-aid-kit">First Aid Kit</label>
                  </div>
                </li>
                <li>
                  <div class="checkbox-wrapper check-switch">
                    <input type="checkbox" id="f_bathtub" name="f_bathtub">
                    <label for="f_bathtub">Bathtub</label>
                  </div>
                </li>
                <li>
                  <div class="checkbox-wrapper check-switch">
                    <input type="checkbox" id="f_geyser" name="f_geyser">
                    <label for="f_geyser">Geyser</label>
                  </div>
                </li>
                <li>
                  <div class="checkbox-wrapper check-switch">
                    <input type="checkbox" id="f_essentails" name="f_essentails">
                    <label for="f_essentails">Essentails</label>
                  </div>
                </li>
                <li>
                  <div class="checkbox-wrapper check-switch">
                    <input type="checkbox" id="f_dish-washer" name="f_dish-washer">
                    <label for="f_dish-washer">Dish washer</label>
                  </div>
                </li>
              </ul>
              <a href="#" class="more"> More amenties</a>

						<h3>FACILITIES *</h3>

						<ul class="list-check">
                <li>
                  <div class="checkbox-wrapper check-switch">
                    <input type="checkbox" id="e-backup" name="e-backup">
                    <label for="e-backup">24Hr Electricity Backup</label>
                  </div>
                </li>
                <li>
                  <div class="checkbox-wrapper check-switch">
                    <input type="checkbox" id="parking" name="parking">
                    <label for="parking">Parking</label>
                  </div>
                </li>
                <li>
                  <div class="checkbox-wrapper check-switch">
                    <input type="checkbox" id="community-hall" name="community-hall">
                    <label for="community-hall">Community Hall</label>
                  </div>
                </li>
                <li>
                  <div class="checkbox-wrapper check-switch">
                    <input type="checkbox" id="club" name="club">
                    <label for="club">Club House</label>
                  </div>
                </li>
                <li>
                  <div class="checkbox-wrapper check-switch">
                    <input type="checkbox" id="restaurant" name="restaurant">
                    <label for="restaurant">Restaurant</label>
                  </div>
                </li>
                <li>
                  <div class="checkbox-wrapper check-switch">
                    <input type="checkbox" id="coffee-shop" name="coffee-shop">
                    <label for="coffee-shop">Coffee-shop</label>
                  </div>
                </li>
                <li>
                  <div class="checkbox-wrapper check-switch">
                    <input type="checkbox" id="banking-atm" name="banking-atm">
                    <label for="banking-atm">Banking/ ATM</label>
                  </div>
                </li>
                <li>
                  <div class="checkbox-wrapper check-switch">
                    <input type="checkbox" id="phamacy" name="phamacy">
                    <label for="phamacy">Phamacy</label>
                  </div>
                </li>
                <li>
                  <div class="checkbox-wrapper check-switch">
                    <input type="checkbox" id="shopping-mall" name="shopping-mall">
                    <label for="shopping-mall">Shopping mall</label>
                  </div>
                </li>
                <li>
                  <div class="checkbox-wrapper check-switch">
                    <input type="checkbox" id="supermarket" name="supermarket">
                    <label for="supermarket">Supermarket</label>
                  </div>
                </li>
                <li>
                  <div class="checkbox-wrapper check-switch">
                    <input type="checkbox" id="swimming-pool" name="swimming-pool">
                    <label for="swimming-pool">Swimming Pool</label>
                  </div>
                </li>
                <li>
                  <div class="checkbox-wrapper check-switch">
                    <input type="checkbox" id="gymnasiums" name="gymnasiums">
                    <label for="gymnasiums">Gymnasiums</label>
                  </div>
                </li>
              </ul>

						<h3>DESCRIPTION & POLICIES *</h3>
						<div class="input-wrapper">
							<textarea name="text" rows="10" placeholder="Apartment Description"></textarea>
						</div>
						<p class="note">E.g. whether the building has been recently renovated, how far it is from city centre, the neighboorhood is suitable for young people or family…</p>
						<div class="input-wrapper">
							<textarea name="text" rows="10" placeholder="Apartment Policies"></textarea>
						</div>
						<p class="note">E.g. whether the building has been recently renovated, how far it is from city centre, the neighboorhood is suitable for young people or family…</p>
						<h3>UPLOAD PHOTOS</h3>
						<div class="input-wrapper input-photo" data-size="500" data-quality="0.6">
							<span class="icon"><i class="fa fa-folder-open"></i> BROWSER</span>
							<label>
								Multiple photos selection is allowed
								<span class="icon-inline icon-upload"></span>
								<input type="file" class="input-file" id="input-file" multiple />
							</label>
						</div>
						<div class="button-wrapper text-center">
							<a href="#" class="btn btn--red btn--full" >SUBMIT LISTING</a>
						</div>
					</div>
				</form>
			</div>
		</section>

	</main>

{% endblock %}