{% extends "_templates/layout.twig" %}

{% block page %}

	<section class="banner">
		<img src="assets/images/dummy/hoozing_star-hill.png" />
		<div class="banner__info">
			<div class="container">
				<div class="score">
					<span class="number-circle">9.1</span><br />
					5th in Ranking
				</div>
				<div class="project-info">
					<h1>Starhill</h1>
					<p>Project Status: Finished</p>
					<p>Price Range: 1000-2000USD</p>
				</div>
			</div>
		</div>
	</section>

	<section class="project__detail" data-module="ScrollTo">
		<div class="container">

			<div class="breadcrumb">
				<a href="#"><i class="fa fa-home"></i></a>  
				<i class="fa fa-angle-right"></i> 
				<a href="#">District 7</a> <i class="fa fa-angle-right"></i> Starhill
			</div>

			<ul class="tab-link">
				<li class="active"><a href="javascript:void(0);" class="link-to" data-target="#description"> Description</a></li>
				<li><a href="javascript:void(0);" class="link-to" data-target="#overview"> Overview</a></li>
				<li><a href="javascript:void(0);" class="link-to" data-target="#facilities"> Facilities</a></li>
				<li><a href="javascript:void(0);" class="link-to" data-target=".map-detail"> Location</a></li>
				<li><a href="javascript:void(0);" class="link-to" data-target=".list-table"> Listing</a></li>
			</ul>
			<hr />

			<h3 class="block-title" id="description">Description</h3>
			<div class="row">
				<div class="col-md-6">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, soluta iure, aliquid sint ab architecto sequi, facilis nobis voluptatem optio sapiente assumenda reiciendis facere quidem nostrum iusto hic sed eligendi.
				</div>
				<div class="col-md-6">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, soluta iure, aliquid sint ab architecto sequi, facilis nobis voluptatem optio sapiente assumenda reiciendis facere quidem nostrum iusto hic sed eligendi.
				</div>
			</div>
			
			<h3 class="block-title" id="overview">Overview</h3>

			<h3 class="block-title" id="facilities">Facilities</h3>


		</div>
	</section>


	<section class="map-detail"></section>

	<section class="list-table">
		<div class="container">
			<h2 class="section-title">Other Listing in Starhills</h2>
		</div>
	</section>
	<section class="list-similar">
		<div class="container">

			<h2 class="section-title">Similar Listings</h2>
			<div class="row">
				<div class="col-md-3 thumb-item">
					<div class="thumb-gallery">
						<div class="thumb-slide" data-module="ThumbSlide">
							<ul class="thumb-img slider-wrapper">
								<li class="carousel-item active"><img src="assets/images/dummy/vinhomes-central-park.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
							</ul>
						</div>
						<span class="love"><i class="fa fa-heart-o"></i></span>
						<span class="price-tag">$600</span>
					</div>
					<div class="thumb-info">
						<h4>house code 456</h4>
						<a href="#"><h3>Pretty service appartment with bright bedroom</h3></a>
						<div class="thumb-service">
							<span><i class="fa fa-map-marker"></i> District 7</span>
							<span><i class="fa fa-bed"></i> 1 bed </span>
							<span><i class="fa fa-bath"></i> 1 bath</span>          
						</div>
					</div>
				</div>
				<div class="col-md-3 thumb-item">
					<div class="thumb-gallery">
						<div class="thumb-slide" data-module="ThumbSlide">
							<ul class="thumb-img slider-wrapper">
								<li class="carousel-item active"><img src="assets/images/dummy/vinhomes-central-park.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
							</ul>
						</div>
						<span class="love"><i class="fa fa-heart-o"></i></span>
						<span class="price-tag">$600</span>
					</div>
					<div class="thumb-info">
						<h4>house code 456</h4>
						<a href="#"><h3>Pretty service appartment with bright bedroom</h3></a>
						<div class="thumb-service">
							<span><i class="fa fa-map-marker"></i> District 7</span>
							<span><i class="fa fa-bed"></i> 1 bed </span>
							<span><i class="fa fa-bath"></i> 1 bath</span>          
						</div>
					</div>
				</div>
				<div class="col-md-3 thumb-item">
					<div class="thumb-gallery">
						<div class="thumb-slide" data-module="ThumbSlide">
							<ul class="thumb-img slider-wrapper">
								<li class="carousel-item active"><img src="assets/images/dummy/vinhomes-central-park.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
							</ul>
						</div>
						<span class="love"><i class="fa fa-heart-o"></i></span>
						<span class="price-tag">$600</span>
					</div>
					<div class="thumb-info">
						<h4>house code 456</h4>
						<a href="#"><h3>Pretty service appartment with bright bedroom</h3></a>
						<div class="thumb-service">
							<span><i class="fa fa-map-marker"></i> District 7</span>
							<span><i class="fa fa-bed"></i> 1 bed </span>
							<span><i class="fa fa-bath"></i> 1 bath</span>          
						</div>
					</div>
				</div>
				<div class="col-md-3 thumb-item">
					<div class="thumb-gallery">
						<div class="thumb-slide" data-module="ThumbSlide">
							<ul class="thumb-img slider-wrapper">
								<li class="carousel-item active"><img src="assets/images/dummy/vinhomes-central-park.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
							</ul>
						</div>
						<span class="love"><i class="fa fa-heart-o"></i></span>
						<span class="price-tag">$600</span>
					</div>
					<div class="thumb-info">
						<h4>house code 456</h4>
						<a href="#"><h3>Pretty service appartment with bright bedroom</h3></a>
						<div class="thumb-service">
							<span><i class="fa fa-map-marker"></i> District 7</span>
							<span><i class="fa fa-bed"></i> 1 bed </span>
							<span><i class="fa fa-bath"></i> 1 bath</span>          
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="list-newly">
		<div class="container">

			<h2 class="section-title">Newly-added Listings</h2>
			<div class="row">
				<div class="col-md-3 thumb-item">
					<div class="thumb-gallery">
						<div class="thumb-slide" data-module="ThumbSlide">
							<ul class="thumb-img slider-wrapper">
								<li class="carousel-item active"><img src="assets/images/dummy/vinhomes-central-park.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
							</ul>
						</div>
						<span class="love"><i class="fa fa-heart-o"></i></span>
						<span class="price-tag">$600</span>
					</div>
					<div class="thumb-info">
						<h4>house code 456</h4>
						<a href="#"><h3>Pretty service appartment with bright bedroom</h3></a>
						<div class="thumb-service">
							<span><i class="fa fa-map-marker"></i> District 7</span>
							<span><i class="fa fa-bed"></i> 1 bed </span>
							<span><i class="fa fa-bath"></i> 1 bath</span>          
						</div>
					</div>
				</div>
				<div class="col-md-3 thumb-item">
					<div class="thumb-gallery">
						<div class="thumb-slide" data-module="ThumbSlide">
							<ul class="thumb-img slider-wrapper">
								<li class="carousel-item active"><img src="assets/images/dummy/vinhomes-central-park.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
							</ul>
						</div>
						<span class="love"><i class="fa fa-heart-o"></i></span>
						<span class="price-tag">$600</span>
					</div>
					<div class="thumb-info">
						<h4>house code 456</h4>
						<a href="#"><h3>Pretty service appartment with bright bedroom</h3></a>
						<div class="thumb-service">
							<span><i class="fa fa-map-marker"></i> District 7</span>
							<span><i class="fa fa-bed"></i> 1 bed </span>
							<span><i class="fa fa-bath"></i> 1 bath</span>          
						</div>
					</div>
				</div>
				<div class="col-md-3 thumb-item">
					<div class="thumb-gallery">
						<div class="thumb-slide" data-module="ThumbSlide">
							<ul class="thumb-img slider-wrapper">
								<li class="carousel-item active"><img src="assets/images/dummy/vinhomes-central-park.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
							</ul>
						</div>
						<span class="love"><i class="fa fa-heart-o"></i></span>
						<span class="price-tag">$600</span>
					</div>
					<div class="thumb-info">
						<h4>house code 456</h4>
						<a href="#"><h3>Pretty service appartment with bright bedroom</h3></a>
						<div class="thumb-service">
							<span><i class="fa fa-map-marker"></i> District 7</span>
							<span><i class="fa fa-bed"></i> 1 bed </span>
							<span><i class="fa fa-bath"></i> 1 bath</span>          
						</div>
					</div>
				</div>
				<div class="col-md-3 thumb-item">
					<div class="thumb-gallery">
						<div class="thumb-slide" data-module="ThumbSlide">
							<ul class="thumb-img slider-wrapper">
								<li class="carousel-item active"><img src="assets/images/dummy/vinhomes-central-park.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
							</ul>
						</div>
						<span class="love"><i class="fa fa-heart-o"></i></span>
						<span class="price-tag">$600</span>
					</div>
					<div class="thumb-info">
						<h4>house code 456</h4>
						<a href="#"><h3>Pretty service appartment with bright bedroom</h3></a>
						<div class="thumb-service">
							<span><i class="fa fa-map-marker"></i> District 7</span>
							<span><i class="fa fa-bed"></i> 1 bed </span>
							<span><i class="fa fa-bath"></i> 1 bath</span>          
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>


{% endblock %}