{% extends "_templates/layout.twig" %}

{% block page %}
	<section class="search-control">
		<div class="select-wrapper select--big">
			<select name="type" id="type">
				<option  disabled="disabled" selected="selected" value="">Service Apartment</option>
				<option value="Male">2000</option>
				<option value="Female">2001</option>
			</select>
		</div>

		<div class="select-wrapper select--big">
			<select name="type" id="type">
				<option  disabled="disabled" selected="selected" value="">Any Amenites</option>
				<option value="Male">2000</option>
				<option value="Female">2001</option>
			</select>
		</div>

		<div class="select-wrapper select-bed select--small">
			<select name="type" id="type">
				<option  disabled="disabled" selected="selected" value=""> 1 bed</option>
				<option value="Male">2000</option>
				<option value="Female">2001</option>
			</select>
		</div>

		<div class="select-wrapper select-bath select--small">
			<select name="type" id="type">
				<option  disabled="disabled" selected="selected" value=""> 1 bath</option>
				<option value="Male">2000</option>
				<option value="Female">2001</option>
			</select>
		</div>

		<div class="select-wrapper select-range select--small">
			<span class="range-text">Min</span>
			<select name="type" id="type">
				<option  disabled="disabled" selected="selected" value=""> $200</option>
				<option value="Male">2000</option>
				<option value="Female">2001</option>
			</select>
		</div>

		<div class="select-wrapper select-range select--small">
			<span class="range-text">Max</span>
			<select name="type" id="type">
				<option  disabled="disabled" selected="selected" value=""> $5000</option>
				<option value="Male">2000</option>
				<option value="Female">2001</option>
			</select>
		</div>

		<a href="#collapseFilter" data-toggle="collapse" class="btn float-right" id="advance-filter" ><span class="notificate bg--red">1</span> More filter <i class="fa fa-angle-down"></i></a>

	</section>

	<section class="search-content search-content--reduce" data-module="SearchControl">

		<div class="filter-wrapper collapse" id="collapseFilter">
			<a href="#collapseFilter" data-toggle="collapse" class="close-modal"><i class="fa fa-close"></i></a>
			<div class="container">
				<h3 class="block-title">Basic fetures</h3>
				<div class="row">
					<div class="col-md-3">
						<div class="input-group date" data-provide="datepicker-inline">
							<input type="text" class="form-control">
							<div class="input-group-addon">
								<span class="glyphicon glyphicon-th"></span>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="select-wrapper">
							<select name="type" id="type">
								<option  disabled="disabled" selected="selected" value="">Acomodates</option>
								<option value="Male">2000</option>
								<option value="Female">2001</option>
							</select>
						</div>
					</div>
					<div class="col-md-3">
						<div class="select-wrapper">
							<select name="type" id="type">
								<option  disabled="disabled" selected="selected" value="">Furnishment</option>
								<option value="Male">2000</option>
								<option value="Female">2001</option>
							</select>
						</div>
					</div>
					<div class="col-md-3">
						<div class="select-wrapper">
							<select name="type" id="type">
								<option  disabled="disabled" selected="selected" value="">Floor Area</option>
								<option value="Male">2000</option>
								<option value="Female">2001</option>
							</select>
						</div>
					</div>
				</div>

				<h3 class="block-title">Required Amenities</h3>
				<div class="row">
					<div class="col-3">
						<div class="checkbox-wrapper check-switch">
							<input type="checkbox" id="tv" name="tv">
							<label for="tv">TV</label>
						</div>
					</div>
					<div class="col-3">
						<div class="checkbox-wrapper check-switch">
							<input type="checkbox" id="microwave" name="microwave">
							<label for="microwave">Microwave</label>
						</div>
					</div>
					<div class="col-3">
						<div class="checkbox-wrapper check-switch">
							<input type="checkbox" id="aircondition" name="aircondition">
							<label for="aircondition">Air contitioner</label>
						</div>
					</div>
					<div class="col-3">
						<div class="checkbox-wrapper check-switch">
							<input type="checkbox" id="chimney" name="chimney">
							<label for="chimney">Electric chimney</label>
						</div>
					</div>
					<div class="col-3">
						<div class="checkbox-wrapper check-switch">
							<input type="checkbox" id="smock-detector" name="smock-detector">
							<label for="smock-detector">Smoke detector</label>
						</div>
					</div>
					<div class="col-3">
						<div class="checkbox-wrapper check-switch">
							<input type="checkbox" id="fire-extinguisher" name="fire-extinguisher">
							<label for="fire-extinguisher">Fire extinguisher</label>
						</div>
					</div>
					<div class="col-3">
						<div class="checkbox-wrapper check-switch">
							<input type="checkbox" id="balcony" name="balcony">
							<label for="balcony">Balcony</label>
						</div>
					</div>
					<div class="col-3">
						<div class="checkbox-wrapper check-switch">
							<input type="checkbox" id="first-aid-kit" name="first-aid-kit">
							<label for="first-aid-kit">First Aid Kit</label>
						</div>
					</div>
					<div class="col-3">
						<div class="checkbox-wrapper check-switch">
							<input type="checkbox" id="bathtub" name="bathtub">
							<label for="bathtub">Bathtub</label>
						</div>
					</div>
					<div class="col-3">
						<div class="checkbox-wrapper check-switch">
							<input type="checkbox" id="geyser" name="geyser">
							<label for="geyser">Geyser</label>
						</div>
					</div>
					<div class="col-3">
						<div class="checkbox-wrapper check-switch">
							<input type="checkbox" id="essentails" name="essentails">
							<label for="essentails">Essentails</label>
						</div>
					</div>
					<div class="col-3">
						<div class="checkbox-wrapper check-switch">
							<input type="checkbox" id="dish-washer" name="dish-washer">
							<label for="dish-washer">Dish washer</label>
						</div>
					</div>
				</div>
				<a href="#" class="more"> More amenties</a>
				<br />
				<h3 class="block-title">Required Facilities</h3>
				<div class="row">
					<div class="col-3">
						<div class="checkbox-wrapper check-switch">
							<input type="checkbox" id="e-backup" name="e-backup">
							<label for="e-backup">24Hr Electricity Backup</label>
						</div>
					</div>
					<div class="col-3">
						<div class="checkbox-wrapper check-switch">
							<input type="checkbox" id="parking" name="parking">
							<label for="parking">Parking</label>
						</div>
					</div>
					<div class="col-3">
						<div class="checkbox-wrapper check-switch">
							<input type="checkbox" id="community-hall" name="community-hall">
							<label for="community-hall">Community Hall</label>
						</div>
					</div>
					<div class="col-3">
						<div class="checkbox-wrapper check-switch">
							<input type="checkbox" id="club" name="club">
							<label for="club">Club House</label>
						</div>
					</div>
					<div class="col-3">
						<div class="checkbox-wrapper check-switch">
							<input type="checkbox" id="restaurant" name="restaurant">
							<label for="restaurant">Restaurant</label>
						</div>
					</div>
					<div class="col-3">
						<div class="checkbox-wrapper check-switch">
							<input type="checkbox" id="coffee-shop" name="coffee-shop">
							<label for="coffee-shop">Coffee-shop</label>
						</div>
					</div>
					<div class="col-3">
						<div class="checkbox-wrapper check-switch">
							<input type="checkbox" id="banking-atm" name="banking-atm">
							<label for="banking-atm">Banking/ ATM</label>
						</div>
					</div>
					<div class="col-3">
						<div class="checkbox-wrapper check-switch">
							<input type="checkbox" id="phamacy" name="phamacy">
							<label for="phamacy">Phamacy</label>
						</div>
					</div>
					<div class="col-3">
						<div class="checkbox-wrapper check-switch">
							<input type="checkbox" id="shopping-mall" name="shopping-mall">
							<label for="shopping-mall">Shopping mall</label>
						</div>
					</div>
					<div class="col-3">
						<div class="checkbox-wrapper check-switch">
							<input type="checkbox" id="supermarket" name="supermarket">
							<label for="supermarket">Supermarket</label>
						</div>
					</div>
					<div class="col-3">
						<div class="checkbox-wrapper check-switch">
							<input type="checkbox" id="swimming-pool" name="swimming-pool">
							<label for="swimming-pool">Swimming Pool</label>
						</div>
					</div>
					<div class="col-3">
						<div class="checkbox-wrapper check-switch">
							<input type="checkbox" id="gymnasiums" name="gymnasiums">
							<label for="gymnasiums">Gymnasiums</label>
						</div>
					</div>

				</div>
				<a href="#" class="more"> More amenties</a>

				<div class="btn-wrapper text-left">
					<a href="#" class="btn btn--blue"> Apply</a>
					<a href="#" class="link clear-filter"> Clear Filters</a>
				</div>
			</div>
		</div>

		<ul class="breadcrumb">
			<li><a href="#"><i class="fa fa-home"></i></a>  </li>
			<li><i class="fa fa-angle-right"></i> <a href="#">District 7</a></li>
			<li><i class="fa fa-angle-right"></i> One Bedroom Service Apartment</li>
		</ul>

		<div class="search__list">
			<span class=" search__result">
				512 listings
			</span>
			<div class="search__sort">
				<label for="sortlist">Sort by</label>

				<div class="select-wrapper">
					<select name="sortlist" id="sortlist">
						<option selected="selected" value=""> Day (newest)</option>
						<option value="Male">2000</option>
						<option value="Female">2001</option>
					</select>
				</div>
			</div>

			<label>Layout</label> 
			<ul class="search__layout" data-module="SwitchTab">
				<li><a href="javascript:void(0);" class="active" data-toggle="tooltip" data-placement="top" data-layout="grid" title="Grid"><i class="fa fa-th-large"></i></a></li>
				<li><a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" data-layout="listview"  title="List"><i class="fa fa-bars"></i></a></li>
				<li><a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" data-layout="mapview"  title="Map"><i class="fa fa-map"></i></a></li>
				<li><a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" data-layout="project"  title="Project"><i class="fa fa-bank"></i></a></li>
			</ul>

		</div>

		<div class="search-detail">
			<div class="tab-content " id="search-grid">
				<div class="row">

					<div class="thumb-item col-md-15">
						<div class="thumb-gallery " data-module="ThumbSlide">
							<ul class="thumb-list slider-wrapper">
								<li class="carousel-item active"><img src="assets/images/dummy/vinhomes-central-park.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
							</ul>
							<span class="love"><i class="fa fa-heart-o"></i></span>
							<span class="price-tag">600</span>
						</div>
						<div class="thumb-info">
							<h4>house code 456</h4>
							<h3>
								<a href="#">Pretty service appartment with bright bedroom</a>
							</h3>
							<div class="thumb-service">
								<span><i class="fa fa-map-marker"></i> District 7</span>
								<span><i class="fa fa-bed"></i> 1 bed </span>
								<span><i class="fa fa-bath"></i> 1 bath</span>          
							</div>
						</div>
					</div>

					<div class="thumb-item col-md-15">
						<div class="thumb-gallery " data-module="ThumbSlide">
							<ul class="thumb-list slider-wrapper">
								<li class="carousel-item active"><img src="assets/images/dummy/vinhomes-central-park.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
							</ul>
							<span class="love"><i class="fa fa-heart-o"></i></span>
							<span class="price-tag">600</span>
						</div>
						<div class="thumb-info">
							<h4>house code 456</h4>
							<h3>
								<a href="#">Pretty service appartment with bright bedroom</a>
							</h3>
							<div class="thumb-service">
								<span><i class="fa fa-map-marker"></i> District 7</span>
								<span><i class="fa fa-bed"></i> 1 bed </span>
								<span><i class="fa fa-bath"></i> 1 bath</span>          
							</div>
						</div>
					</div>

					<div class="thumb-item col-md-15">
						<div class="thumb-gallery " data-module="ThumbSlide">
							<ul class="thumb-list slider-wrapper">
								<li class="carousel-item active"><img src="assets/images/dummy/vinhomes-central-park.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
							</ul>
							<span class="love"><i class="fa fa-heart-o"></i></span>
							<span class="price-tag">600</span>
						</div>
						<div class="thumb-info">
							<h4>house code 456</h4>
							<h3>
								<a href="#">Pretty service appartment with bright bedroom</a>
							</h3>
							<div class="thumb-service">
								<span><i class="fa fa-map-marker"></i> District 7</span>
								<span><i class="fa fa-bed"></i> 1 bed </span>
								<span><i class="fa fa-bath"></i> 1 bath</span>          
							</div>
						</div>
					</div>

					<div class="thumb-item col-md-15">
						<div class="thumb-gallery " data-module="ThumbSlide">
							<ul class="thumb-list slider-wrapper">
								<li class="carousel-item active"><img src="assets/images/dummy/vinhomes-central-park.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
							</ul>
							<span class="love"><i class="fa fa-heart-o"></i></span>
							<span class="price-tag">600</span>
						</div>
						<div class="thumb-info">
							<h4>house code 456</h4>
							<h3>
								<a href="#">Pretty service appartment with bright bedroom</a>
							</h3>
							<div class="thumb-service">
								<span><i class="fa fa-map-marker"></i> District 7</span>
								<span><i class="fa fa-bed"></i> 1 bed </span>
								<span><i class="fa fa-bath"></i> 1 bath</span>          
							</div>
						</div>
					</div>

					<div class="thumb-item col-md-15">
						<div class="thumb-gallery " data-module="ThumbSlide">
							<ul class="thumb-list slider-wrapper">
								<li class="carousel-item active"><img src="assets/images/dummy/vinhomes-central-park.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
							</ul>
							<span class="love"><i class="fa fa-heart-o"></i></span>
							<span class="price-tag">600</span>
						</div>
						<div class="thumb-info">
							<h4>house code 456</h4>
							<h3>
								<a href="#">Pretty service appartment with bright bedroom</a>
							</h3>
							<div class="thumb-service">
								<span><i class="fa fa-map-marker"></i> District 7</span>
								<span><i class="fa fa-bed"></i> 1 bed </span>
								<span><i class="fa fa-bath"></i> 1 bath</span>          
							</div>
						</div>
					</div>


					<div class="thumb-item col-md-15">
						<div class="thumb-gallery " data-module="ThumbSlide">
							<ul class="thumb-list slider-wrapper">
								<li class="carousel-item active"><img src="assets/images/dummy/vinhomes-central-park.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
							</ul>
							<span class="love"><i class="fa fa-heart-o"></i></span>
							<span class="price-tag">600</span>
						</div>
						<div class="thumb-info">
							<h4>house code 456</h4>
							<h3>
								<a href="#">Pretty service appartment with bright bedroom</a>
							</h3>
							<div class="thumb-service">
								<span><i class="fa fa-map-marker"></i> District 7</span>
								<span><i class="fa fa-bed"></i> 1 bed </span>
								<span><i class="fa fa-bath"></i> 1 bath</span>          
							</div>
						</div>
					</div>

					<div class="thumb-item col-md-15">
						<div class="thumb-gallery " data-module="ThumbSlide">
							<ul class="thumb-list slider-wrapper">
								<li class="carousel-item active"><img src="assets/images/dummy/vinhomes-central-park.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
							</ul>
							<span class="love"><i class="fa fa-heart-o"></i></span>
							<span class="price-tag">600</span>
						</div>
						<div class="thumb-info">
							<h4>house code 456</h4>
							<h3>
								<a href="#">Pretty service appartment with bright bedroom</a>
							</h3>
							<div class="thumb-service">
								<span><i class="fa fa-map-marker"></i> District 7</span>
								<span><i class="fa fa-bed"></i> 1 bed </span>
								<span><i class="fa fa-bath"></i> 1 bath</span>          
							</div>
						</div>
					</div>

					<div class="thumb-item col-md-15">
						<div class="thumb-gallery " data-module="ThumbSlide">
							<ul class="thumb-list slider-wrapper">
								<li class="carousel-item active"><img src="assets/images/dummy/vinhomes-central-park.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
							</ul>
							<span class="love"><i class="fa fa-heart-o"></i></span>
							<span class="price-tag">600</span>
						</div>
						<div class="thumb-info">
							<h4>house code 456</h4>
							<h3>
								<a href="#">Pretty service appartment with bright bedroom</a>
							</h3>
							<div class="thumb-service">
								<span><i class="fa fa-map-marker"></i> District 7</span>
								<span><i class="fa fa-bed"></i> 1 bed </span>
								<span><i class="fa fa-bath"></i> 1 bath</span>          
							</div>
						</div>
					</div>

					<div class="thumb-item col-md-15">
						<div class="thumb-gallery " data-module="ThumbSlide">
							<ul class="thumb-list slider-wrapper">
								<li class="carousel-item active"><img src="assets/images/dummy/vinhomes-central-park.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
							</ul>
							<span class="love"><i class="fa fa-heart-o"></i></span>
							<span class="price-tag">600</span>
						</div>
						<div class="thumb-info">
							<h4>house code 456</h4>
							<h3>
								<a href="#">Pretty service appartment with bright bedroom</a>
							</h3>
							<div class="thumb-service">
								<span><i class="fa fa-map-marker"></i> District 7</span>
								<span><i class="fa fa-bed"></i> 1 bed </span>
								<span><i class="fa fa-bath"></i> 1 bath</span>          
							</div>
						</div>
					</div>

					<div class="thumb-item col-md-15">
						<div class="thumb-gallery " data-module="ThumbSlide">
							<ul class="thumb-list slider-wrapper">
								<li class="carousel-item active"><img src="assets/images/dummy/vinhomes-central-park.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
							</ul>
							<span class="love"><i class="fa fa-heart-o"></i></span>
							<span class="price-tag">600</span>
						</div>
						<div class="thumb-info">
							<h4>house code 456</h4>
							<h3>
								<a href="#">Pretty service appartment with bright bedroom</a>
							</h3>
							<div class="thumb-service">
								<span><i class="fa fa-map-marker"></i> District 7</span>
								<span><i class="fa fa-bed"></i> 1 bed </span>
								<span><i class="fa fa-bath"></i> 1 bath</span>          
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="tab-content thumb-list " id="search-listview">
				<div class="row">

					<div class="thumb-item col-md-6">
						<div class="thumb-gallery " data-module="ThumbSlide">
							<ul class="thumb-list slider-wrapper">
								<li class="carousel-item active"><img src="assets/images/dummy/vinhomes-central-park.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
							</ul>
							<span class="love"><i class="fa fa-heart-o"></i></span>
							<span class="price-tag">600</span>
						</div>
						<div class="thumb-info">
							<h4>house code 456</h4>
							<h3>
								<a href="#">Pretty service appartment with bright bedroom</a>
							</h3>
							<div class="thumb-service">
								<span><i class="fa fa-map-marker"></i> District 7</span>
								<span><i class="fa fa-bed"></i> 1 bed </span>
								<span><i class="fa fa-bath"></i> 1 bath</span>          
							</div>
						</div>
					</div>

					<div class="thumb-item col-md-6">
						<div class="thumb-gallery " data-module="ThumbSlide">
							<ul class="thumb-list slider-wrapper">
								<li class="carousel-item active"><img src="assets/images/dummy/vinhomes-central-park.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
							</ul>
							<span class="love"><i class="fa fa-heart-o"></i></span>
							<span class="price-tag">600</span>
						</div>
						<div class="thumb-info">
							<h4>house code 456</h4>
							<h3>
								<a href="#">Pretty service appartment with bright bedroom</a>
							</h3>
							<div class="thumb-service">
								<span><i class="fa fa-map-marker"></i> District 7</span>
								<span><i class="fa fa-bed"></i> 1 bed </span>
								<span><i class="fa fa-bath"></i> 1 bath</span>          
							</div>
						</div>
					</div>

					<div class="thumb-item col-md-6">
						<div class="thumb-gallery " data-module="ThumbSlide">
							<ul class="thumb-list slider-wrapper">
								<li class="carousel-item active"><img src="assets/images/dummy/vinhomes-central-park.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
							</ul>
							<span class="love"><i class="fa fa-heart-o"></i></span>
							<span class="price-tag">600</span>
						</div>
						<div class="thumb-info">
							<h4>house code 456</h4>
							<h3>
								<a href="#">Pretty service appartment with bright bedroom</a>
							</h3>
							<div class="thumb-service">
								<span><i class="fa fa-map-marker"></i> District 7</span>
								<span><i class="fa fa-bed"></i> 1 bed </span>
								<span><i class="fa fa-bath"></i> 1 bath</span>          
							</div>
						</div>
					</div>

					<div class="thumb-item col-md-6">
						<div class="thumb-gallery " data-module="ThumbSlide">
							<ul class="thumb-list slider-wrapper">
								<li class="carousel-item active"><img src="assets/images/dummy/vinhomes-central-park.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
							</ul>
							<span class="love"><i class="fa fa-heart-o"></i></span>
							<span class="price-tag">600</span>
						</div>
						<div class="thumb-info">
							<h4>house code 456</h4>
							<h3>
								<a href="#">Pretty service appartment with bright bedroom</a>
							</h3>
							<div class="thumb-service">
								<span><i class="fa fa-map-marker"></i> District 7</span>
								<span><i class="fa fa-bed"></i> 1 bed </span>
								<span><i class="fa fa-bath"></i> 1 bath</span>          
							</div>
						</div>
					</div>

					<div class="thumb-item col-md-6">
						<div class="thumb-gallery " data-module="ThumbSlide">
							<ul class="thumb-list slider-wrapper">
								<li class="carousel-item active"><img src="assets/images/dummy/vinhomes-central-park.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
							</ul>
							<span class="love"><i class="fa fa-heart-o"></i></span>
							<span class="price-tag">600</span>
						</div>
						<div class="thumb-info">
							<h4>house code 456</h4>
							<h3>
								<a href="#">Pretty service appartment with bright bedroom</a>
							</h3>
							<div class="thumb-service">
								<span><i class="fa fa-map-marker"></i> District 7</span>
								<span><i class="fa fa-bed"></i> 1 bed </span>
								<span><i class="fa fa-bath"></i> 1 bath</span>          
							</div>
						</div>
					</div>

					<div class="thumb-item col-md-6">
						<div class="thumb-gallery " data-module="ThumbSlide">
							<ul class="thumb-list slider-wrapper">
								<li class="carousel-item active"><img src="assets/images/dummy/vinhomes-central-park.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
							</ul>
							<span class="love"><i class="fa fa-heart-o"></i></span>
							<span class="price-tag">600</span>
						</div>
						<div class="thumb-info">
							<h4>house code 456</h4>
							<h3>
								<a href="#">Pretty service appartment with bright bedroom</a>
							</h3>
							<div class="thumb-service">
								<span><i class="fa fa-map-marker"></i> District 7</span>
								<span><i class="fa fa-bed"></i> 1 bed </span>
								<span><i class="fa fa-bath"></i> 1 bath</span>          
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="tab-content" id="search-project">
				<h3 class="project-title">Starhill</h3>
				<div class="row">
					<div class="thumb-item col-md-15">
						<div class="thumb-gallery " data-module="ThumbSlide">
							<ul class="thumb-list slider-wrapper">
								<li class="carousel-item active"><img src="assets/images/dummy/vinhomes-central-park.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
							</ul>
							<span class="love"><i class="fa fa-heart-o"></i></span>
							<span class="price-tag">600</span>
						</div>
						<div class="thumb-info">
							<h4>house code 456</h4>
							<h3>
								<a href="#">Pretty service appartment with bright bedroom</a>
							</h3>
							<div class="thumb-service">
								<span><i class="fa fa-map-marker"></i> District 7</span>
								<span><i class="fa fa-bed"></i> 1 bed </span>
								<span><i class="fa fa-bath"></i> 1 bath</span>          
							</div>
						</div>
					</div>

					<div class="thumb-item col-md-15">
						<div class="thumb-gallery " data-module="ThumbSlide">
							<ul class="thumb-list slider-wrapper">
								<li class="carousel-item active"><img src="assets/images/dummy/vinhomes-central-park.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
							</ul>
							<span class="love"><i class="fa fa-heart-o"></i></span>
							<span class="price-tag">600</span>
						</div>
						<div class="thumb-info">
							<h4>house code 456</h4>
							<h3>
								<a href="#">Pretty service appartment with bright bedroom</a>
							</h3>
							<div class="thumb-service">
								<span><i class="fa fa-map-marker"></i> District 7</span>
								<span><i class="fa fa-bed"></i> 1 bed </span>
								<span><i class="fa fa-bath"></i> 1 bath</span>          
							</div>
						</div>
					</div>

					<div class="thumb-item col-md-15">
						<div class="thumb-gallery " data-module="ThumbSlide">
							<ul class="thumb-list slider-wrapper">
								<li class="carousel-item active"><img src="assets/images/dummy/vinhomes-central-park.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
							</ul>
							<span class="love"><i class="fa fa-heart-o"></i></span>
							<span class="price-tag">600</span>
						</div>
						<div class="thumb-info">
							<h4>house code 456</h4>
							<h3>
								<a href="#">Pretty service appartment with bright bedroom</a>
							</h3>
							<div class="thumb-service">
								<span><i class="fa fa-map-marker"></i> District 7</span>
								<span><i class="fa fa-bed"></i> 1 bed </span>
								<span><i class="fa fa-bath"></i> 1 bath</span>          
							</div>
						</div>
					</div>

					<div class="thumb-item col-md-15">
						<div class="thumb-gallery " data-module="ThumbSlide">
							<ul class="thumb-list slider-wrapper">
								<li class="carousel-item active"><img src="assets/images/dummy/vinhomes-central-park.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
							</ul>
							<span class="love"><i class="fa fa-heart-o"></i></span>
							<span class="price-tag">600</span>
						</div>
						<div class="thumb-info">
							<h4>house code 456</h4>
							<h3>
								<a href="#">Pretty service appartment with bright bedroom</a>
							</h3>
							<div class="thumb-service">
								<span><i class="fa fa-map-marker"></i> District 7</span>
								<span><i class="fa fa-bed"></i> 1 bed </span>
								<span><i class="fa fa-bath"></i> 1 bath</span>          
							</div>
						</div>
					</div>

					<div class="thumb-item col-md-15">
						<div class="thumb-gallery">
							<ul class="thumb-list">
								<li class="carousel-item active"><img src="assets/images/dummy/vinhomes-central-park.png"></li>
							</ul>
							<span class="love"><i class="fa fa-heart-o"></i></span>
							<a class="thumb-mask" href="#">
								View all<br /> Starhill Listings(20)
							</a>
						</div>
					</div>


				</div>
			</div>
			<div class=" tab-content active" id="search-mapview" data-module="SortList">
				<div class="row">
					<div class="jplist-panel">

						<div class="jplist-drop-down" data-control-type="sort-drop-down" data-control-name="sort" data-control-action="sort"> 
							<ul>
								<li><span data-path="default">Sort by</span></li>
								<li><span data-path="h3" data-order="asc" data-type="text">Title A-Z</span></li>
								<li><span data-path="h3" data-order="desc" data-type="text">Title Z-A</span></li>
								<li><span data-path=".price-tag" data-order="asc" data-type="number">Price asc</span></li>
								<li><span data-path=".price-tag" data-order="desc" data-type="number">Price desc</span></li>
							</ul>
						</div>

						<div class="text-filter-box">
							<input data-path="h3" type="text" value="" placeholder="Filter by Title" data-control-type="textbox" data-control-name="title-filter" data-control-action="filter" />
						</div>



						<div class="jplist-drop-down" data-control-type="items-per-page-drop-down" data-control-name="paging" data-control-action="paging" data-control-animate-to-top="true">
							<ul>
								<li><span data-number="2" data-default="true"> 2 per page </span></li>
								<li><span data-number="5"> 5 per page </span></li>
								<li><span data-number="10" > 10 per page </span></li>
								<li><span data-number="all"> View All </span></li>
							</ul>
						</div>


						<div class="jplist-label" data-type="{start} - {end} of {all}" data-control-type="pagination-info" data-control-name="paging" data-control-action="paging"></div>

						<div class="jplist-pagination" data-control-animate-to-top="true" data-control-type="pagination" data-control-name="paging" data-control-action="paging" data-control-storage="false"></div>

					</div>
				</div>
				<div class="row list-box">

					<div class="thumb-item col-md-6" data-date="03/03/2017" data-code="mh021" data-lng="106.67094305726" data-lat="10.750648587535" data-city="Ho Chi Minh">
						<div class="thumb-gallery " data-module="ThumbSlide">
							<ul class="thumb-list slider-wrapper">
								<li class="carousel-item active"><img src="assets/images/dummy/vinhomes-central-park.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
							</ul>
							<span class="love"><i class="fa fa-heart-o"></i></span>
							<span class="price-tag">600</span>
						</div>
						<div class="thumb-info">
							<h4><a href="javascript:void(0)" class="select-home">house code mh021</a></h4>

							<h3>
								<a href="#">a Pretty service appartment with bright bedroom</a>
							</h3>
							<div class="thumb-service">
								<span><i class="fa fa-map-marker"></i> District 7</span>
								<span><i class="fa fa-bed"></i> 1 bed </span>
								<span><i class="fa fa-bath"></i> 1 bath</span>          
							</div>
						</div>
					</div>

					<div class="thumb-item col-md-6" data-date="04/03/2017" data-code="mh022" data-lng="106.66009490812" data-lat="10.74030300056" data-city="Ho Chi Minh">
						<div class="thumb-gallery " data-module="ThumbSlide">
							<ul class="thumb-list slider-wrapper">
								<li class="carousel-item active"><img src="assets/images/dummy/vinhomes-central-park.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
							</ul>
							<span class="love"><i class="fa fa-heart-o"></i></span>
							<span class="price-tag">700</span>
						</div>
						<div class="thumb-info">
							<h4><a href="javascript:void(0)" class="select-home">house code mh022</a></h4>
							<h3>
								<a href="#"> b Pretty service appartment with bright bedroom</a>
							</h3>
							<div class="thumb-service">
								<span><i class="fa fa-map-marker"></i> District 7</span>
								<span><i class="fa fa-bed"></i> 1 bed </span>
								<span><i class="fa fa-bath"></i> 1 bath</span>          
							</div>
						</div>
					</div>

					<div class="thumb-item col-md-6" data-date="05/03/2017" data-code="mh023" data-lng="106.68009490812" data-lat="10.74030300056" data-city="Ho Chi Minh">
						<div class="thumb-gallery " data-module="ThumbSlide">
							<ul class="thumb-list slider-wrapper">
								<li class="carousel-item active"><img src="assets/images/dummy/vinhomes-central-park.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
							</ul>
							<span class="love"><i class="fa fa-heart-o"></i></span>
							<span class="price-tag">800</span>
						</div>
						<div class="thumb-info">
							<h4><a href="javascript:void(0)" class="select-home">house code mh023</a></h4>
							<h3>
								<a href="#"> c Pretty service appartment with bright bedroom</a>
							</h3>
							<div class="thumb-service">
								<span><i class="fa fa-map-marker"></i> District 7</span>
								<span><i class="fa fa-bed"></i> 1 bed </span>
								<span><i class="fa fa-bath"></i> 1 bath</span>          
							</div>
						</div>
					</div>

					<div class="thumb-item col-md-6" data-date="06/03/2017" data-code="mh024" data-lng="106.60009490812" data-lat="10.70030300056" data-city="Ho Chi Minh">
						<div class="thumb-gallery " data-module="ThumbSlide">
							<ul class="thumb-list slider-wrapper">
								<li class="carousel-item active"><img src="assets/images/dummy/vinhomes-central-park.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
							</ul>
							<span class="love"><i class="fa fa-heart-o"></i></span>
							<span class="price-tag">700</span>
						</div>
						<div class="thumb-info">
							<h4><a href="javascript:void(0)" class="select-home">house code mh024</a></h4>
							<h3>
								<a href="#">e Pretty service appartment with bright bedroom</a>
							</h3>
							<div class="thumb-service">
								<span><i class="fa fa-map-marker"></i> District 7</span>
								<span><i class="fa fa-bed"></i> 1 bed </span>
								<span><i class="fa fa-bath"></i> 1 bath</span>          
							</div>
						</div>
					</div>

					<div class="thumb-item col-md-6" data-date="07/03/2017" data-code="mh025" data-lng="106.62009490812" data-lat="10.780648587535" data-city="Ho Chi Minh">
						<div class="thumb-gallery " data-module="ThumbSlide">
							<ul class="thumb-list slider-wrapper">
								<li class="carousel-item active"><img src="assets/images/dummy/vinhomes-central-park.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
							</ul>
							<span class="love"><i class="fa fa-heart-o"></i></span>
							<span class="price-tag">800</span>
						</div>
						<div class="thumb-info">
							<h4><a href="javascript:void(0)" class="select-home">house code mh025</a></h4>
							<h3>
								<a href="#">f Pretty service appartment with bright bedroom</a>
							</h3>
							<div class="thumb-service">
								<span><i class="fa fa-map-marker"></i> District 7</span>
								<span><i class="fa fa-bed"></i> 1 bed </span>
								<span><i class="fa fa-bath"></i> 1 bath</span>          
							</div>
						</div>
					</div>

					<div class="thumb-item col-md-6" data-date="08/03/2017" data-code="mh026" data-lng="106.67009490812" data-lat="10.790648587535" data-city="Ho Chi Minh">
						<div class="thumb-gallery " data-module="ThumbSlide">
							<ul class="thumb-list slider-wrapper">
								<li class="carousel-item active"><img src="assets/images/dummy/vinhomes-central-park.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
								<li class="carousel-item"><img src="assets/images/dummy/lexington-residence.png"></li>
							</ul>
							<span class="love"><i class="fa fa-heart-o"></i></span>
							<span class="price-tag">800</span>
						</div>
						<div class="thumb-info">
							<h4><a href="javascript:void(0)" class="select-home">house code mh026</a></h4>
							<h3>
								<a href="#">Pretty service appartment with bright bedroom</a>
							</h3>
							<div class="thumb-service">
								<span><i class="fa fa-map-marker"></i> District 7</span>
								<span><i class="fa fa-bed"></i> 1 bed </span>
								<span><i class="fa fa-bath"></i> 1 bath</span>          
							</div>
						</div>
					</div>					

				</div>

        <div class="box jplist-no-results text-shadow align-center">
          <p>No results found</p>
        </div>
			</div>
		</div>
	</section>
	<div class="map-result show" data-module="MapResult">
		<div id="map" style="height: 100vh"></div>
	</div>





	<script>
	window.storeInfo = [
	{
		"code": "mh021",
		"name": "store name",
		"city": "Ho Chi Minh",
		"price": "$600",
		"linkAp": "#",
		"location": {
			"lng": 106.67094305726,
			"lat": 10.750648587535
		},
		"images": ["vinhomes-central-park.png","lexington-residence.png","vinhomes-central-park.png"]
	},{
		"code": "mh022",
		"name": "store name 2",
		"city": "Ho Chi Minh",
		"price": "$700",
		"linkAp": "#",
		"location": {
			"lng": 106.66009490812,
			"lat": 10.74030300056
		},
		"images": ["lexington-residence.png","vinhomes-central-park.png","lexington-residence.png"]
	},
	{
		"code": "mh023",
		"name": "store name 3",
		"city": "Ho Chi Minh",
		"price": "$800",
		"linkAp": "#",
		"location": {
			"lng": 106.68009490812,
			"lat": 10.74030300056
		},
		"images": ["lexington-residence.png","vinhomes-central-park.png","lexington-residence.png"]
	},{
		"code": "mh024",
		"name": "store name 4",
		"city": "Ho Chi Minh",
		"price": "$700",
		"linkAp": "#",
		"location": {
			"lng": 106.60009490812,
			"lat": 10.70030300056
		},
		"images": ["lexington-residence.png","vinhomes-central-park.png","lexington-residence.png"]
	},
	{
		"code": "mh025",
		"name": "store name 5",
		"city": "Ho Chi Minh",
		"price": "$800",
		"linkAp": "#",
		"location": {
			"lng": 106.62009490812,
			"lat": 10.78030300056
		},
		"images": ["lexington-residence.png","vinhomes-central-park.png","lexington-residence.png"]
	},
	{
		"code": "mh026",
		"name": "store name 6",
		"city": "Ho Chi Minh",
		"price": "$800",
		"linkAp": "#",
		"location": {
			"lng": 106.67009490812,
			"lat": 10.79030300056
		},
		"images": ["lexington-residence.png","vinhomes-central-park.png","lexington-residence.png"]
	}
	];
	</script>


{% endblock %}