<header data-module="Header">
  <a class="logo" href="javascript:void(0);">
    <img src="./assets/images/global/logo.png" alt="" class="hide-for-small"> 
    <img src="./assets/images/global/logo.png" alt="" class="show-for-small">
  </a>
  <form id="searchHeader" class="wrapper-inputtags">
    <input type="text" value="ThaoDien" id="search-header" data-role="tagsinput" />
    <button class="btn-close"><i class="fa fa-close"></i></button>
  </form>
  <nav>
    <a href="javascript:void(0);" class="btn-burger">
      <span>Menu</span>
    </a>
    <ul class="nav__menu clearfix">
      <li class="active">
        <a href="javascript:void"><i class="fa fa-search" aria-hidden="true"></i>Search</a>
      </li>
      <li>
        <a href="javascript:void(0);"><i class="fa fa-file-text-o" aria-hidden="true"></i>List your property</a>
      </li>
      <li>
        <a href="javascript:void(0);"><i class="fa fa-heart" aria-hidden="true"></i>Favorite</a>
      </li>
      <li>
        <a href="upload.html"><i class="fa fa-user-circle" aria-hidden="true"></i>login</a>
      </li>
    </ul>
  </nav>
</header>
