<header data-module="Header">
  <a class="logo" href="index.html">
    <img src="./assets/images/global/logo.png" alt="" />
  </a>
  <form id="searchHeader" class=" wrapper-inputtags">
    <div class="form-wrapper form_suggest-search">
      <div class="box-suggest">
        <div class="suggest__quick">
          <h3>Quick Searches</h3>
          <ul class="suggest__tag">
            <li><a href="#" >All</a></li>
            <li><a href="#" >District 1</a></li>
            <li><a href="#" >Vinhomes CP</a></li>
            <li><a href="#" >Pet Friendly</a></li>
          </ul>
        </div>
        <div class="suggest__recent">
          <h3>Recent Searches</h3>
          <ul class="suggest__list list-recent">
            <li><a href="#">HCM city</a></li>
            <li><a href="#">Thao Dien</a></li>
          </ul>
        </div>

      </div>
      <input type="text" value="" id="search-header" autocomplete="off" />
      <button class="btn-submit"><i class="fa fa-search"></i></button>
      <!-- <input type="text" value="" id="search-header" data-role="tagsinput" /> -->
      <!-- <a class="close-form" href="javascript:void(0)" ><i class="fa fa-close"></i></a> -->
    </div>
  </form>
  <nav>
    <a href="javascript:void(0);" class="btn-burger">
      <span>Menu</span>
    </a>
    <a href="javascript:void(0);" data-show="#search-box" class="icon-search">
      <span>Search</span>
    </a>
    <ul class="main-menu clearfix">
      <li class="show-for-small">
        <div class="form-wrapper search-form">
          <input type="text" value="" id="search-header" autocomplete="off" />
          <button class="btn-submit"><i class="fa fa-search"></i></button>
        </div>
      </li>
      <li class="login--member">
        <div class="btn-group dropdown">
          <a class="dropdown-toggle menu-item dropdown--menu">
            <div class="header-avatar avatar" data-div="user-avatar" style="background-image: url('https://graph.facebook.com/1689272867796788/picture')"></div>
            <span class="welcome">Welcome,</span>
            Thanh Nguyen 
            <span class="caret"></span>
            <span class="badge badge-header">2</span>
          </a>
          <ul class="dropdown-menu login-dropdown" role="menu">
            <li>
              <a class="header-item" href="https://goo.gl/1ZSS6S">
                <b><i class="fa fa-envelope-open-o"></i> Messages</b>
                <span class="badge badge-notification"></span>
              </a>
            </li>
            <li>
              <a class="header-item" href="https://goo.gl/1ZSS6S">
                <b><i class="fa fa-star-o"></i> Notifications:</b>
              </a>
            </li>
            <li>
              <a class="header-item" href="/Manage?no=email">
                <i class="fa fa-angle-right"></i>  You need to complete profile with verify email, phone number
                <span class="badge badge-notification">2</span>
              </a>
            </li>
            <li>
              <a class="header-item" href="https://goo.gl/1ZSS6S">
                <i class="fa fa-angle-right"></i>  Welcome to the Hoozing.com website
              </a>
            </li>
            <li class="divider"></li>
            <li><a class="header-item" href="/Wishlist"><i class="fa fa-heart-o"></i> Wish Lists
              <span class="badge badge-notification badge-total-wish"></span>
            </a></li>
            <li><a class="header-item" href="/compare-listing"><i class="fa fa-plus"></i> Compare Listings
              <span class="badge badge-notification badge-total-compare"></span>
            </a></li>
            <li><a class="header-item" href="/Manage"><i class="fa fa-pencil"></i> Edit Profile</a></li>
            <li><a class="header-item" href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out"></i> Logout</a></li>
          </ul>
        </div>
      </li>
      <!-- <li class="menu__login">
        <a href="upload.html"><i class="fa fa-user-circle" aria-hidden="true"></i>login</a>
      </li> -->
      <li class="phone-number">
        <a href="#"><i class="fa fa-phone" aria-hidden="true"></i>84902823393</a>
      </li>
      <li>
        <a href="listing.html"><i class="fa fa-file-text-o" aria-hidden="true"></i>List your property</a>
      </li>
      <li>
        <a href="project.html"><i class="fa fa-heart" aria-hidden="true"></i>Favorite</a>
      </li>
    </ul>
  </nav>
</header>
<div class="bg-popup"></div>



<div class="box__search toggle-block" id="search-box">
  <form id="form-search">
    <div class="row">
      <div class="col-md-8">
        <div class="form-group search-map inputtags">
          <div id="input-banner">
            <input type="text" value="" data-role="tagsinput" placeholder="Searcb by Locality or Project Name" />
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="checkbox-list">
          <span>All Property Types</span>
          <ul>
            <li class="checkbox-wrapper">
              <input type="checkbox" id="f_tnc" name="f_tnc" checked="checked">
              <label for="f_tnc">Apartment</label>
            </li>
            <li class="checkbox-wrapper">
              <input type="checkbox" id="f_tnc1" name="f_tnc1" checked="checked">
              <label for="f_tnc1">Service Apartment</label>
            </li>
            <li class="checkbox-wrapper">
              <input type="checkbox" id="f_tnc3" name="f_tnc3" checked="checked">
              <label for="f_tnc3">Town house</label>
            </li>
            <li class="checkbox-wrapper">
              <input type="checkbox" id="f_tnc4" name="f_tnc4" checked="checked">
              <label for="f_tnc4">Other</label>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-md-4 order-md-last">
        <div class="checkbox-list">
          <span>Require amenities</span> 
          <ul>
            <li class="checkbox-wrapper">
              <input type="checkbox" id="f_require" name="f_require" checked="checked">
              <label for="f_require">Apartment</label>
            </li>
            <li class="checkbox-wrapper">
              <input type="checkbox" id="f_require1" name="f_require1" checked="checked">
              <label for="f_require1">Service Apartment</label>
            </li>
            <li class="checkbox-wrapper">
              <input type="checkbox" id="f_require3" name="f_require3" checked="checked">
              <label for="f_require3">Town house</label>
            </li>
            <li class="checkbox-wrapper">
              <input type="checkbox" id="f_require4" name="f_require4" checked="checked">
              <label for="f_require4">Other</label>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-6 col-md-2">
        <div class="select-wrapper select-bed">
          <span>Any Bed</span>
          <ul>
            <li class="active">Any Bed</li>
            <li>1+</li>
            <li>2+</li>
            <li>3+</li>
            <li>4+</li>
            <li>5+</li>
            <li>6+</li>
            <li>1+</li>
            <li>2+</li>
            <li>3+</li>
            <li>4+</li>
            <li>5+</li>
            <li>6+</li>
          </ul>
        </div>
      </div>

      <div class="col-6 col-md-2">
        <div class="select-wrapper select-bath">
          <span>Any bath</span>
          <ul>
            <li class="active">Any bath</li>
            <li>1+</li>
            <li>2+</li>
            <li>3+</li>
            <li>4+</li>
            <li>5+</li>
            <li>6+</li>
            <li>1+</li>
            <li>2+</li>
            <li>3+</li>
            <li>4+</li>
            <li>5+</li>
            <li>6+</li>
          </ul>
        </div>
      </div>
      <div class="col-6 col-md-2 ">
        <div class="select-wrapper select-range">
          <label>Min <span>0</span></label>
          <ul>
            <li class="active">0</li>
            <li>$10000</li>
            <li>$20000</li>
            <li>$30000</li>
            <li>$40000</li>
            <li>$50000</li>
            <li>$60000</li>
            <li>$10000</li>
            <li>$20000</li>
            <li>$30000</li>
            <li>$40000</li>
            <li>$50000</li>
            <li>$60000</li>
          </ul>
        </div>
      </div>

      <div class="col-6 col-md-2 ">
        <div class="select-wrapper select-range">
          <label>Max <span>0</span></label>
          <ul>
            <li class="active">0</li>
            <li>$10000</li>
            <li>$20000</li>
            <li>$30000</li>
            <li>$40000</li>
            <li>$50000</li>
            <li>$60000</li>
            <li>$10000</li>
            <li>$20000</li>
            <li>$30000</li>
            <li>$40000</li>
            <li>$50000</li>
            <li>$60000</li>
          </ul>
        </div>
      </div>
    </div>
    <a href="javascript:void(0)" data-show="#search__morefilter" class="link-arrow show-for-small">Show more</a>

    <div class="clearfix"></div>

    <div id="search__morefilter" class="toggle-block">

      <h3 class="block-title">Basic fetures</h3>
      <div class="row">
        <div class="col-md-3">
          <div class="input-group date" data-provide="datepicker-inline">
            <input type="text" class="form-control" >
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-th"></span>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="select-wrapper">
            <select name="type" id="type">
              <option  disabled="disabled" selected="selected" value="">Acomodates</option>
              <option value="Male">2000</option>
              <option value="Female">2001</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="select-wrapper">
            <select name="type" id="type">
              <option  disabled="disabled" selected="selected" value="">Furnishment</option>
              <option value="Male">2000</option>
              <option value="Female">2001</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="select-wrapper">
            <select name="type" id="type">
              <option  disabled="disabled" selected="selected" value="">Floor Area</option>
              <option value="Male">2000</option>
              <option value="Female">2001</option>
            </select>
          </div>
        </div>
      </div>

      <h3 class="block-title">Required Amenities</h3>
      <ul class="list-check">
        <li>
          <div class="checkbox-wrapper check-switch">
            <input type="checkbox" id="h_tv" name="h_tv">
            <label for="h_tv">TV</label>
          </div>
        </li>
        <li>
          <div class="checkbox-wrapper check-switch">
            <input type="checkbox" id="h_microwave" name="h_microwave">
            <label for="h_microwave">Microwave</label>
          </div>
        </li>
        <li>
          <div class="checkbox-wrapper check-switch">
            <input type="checkbox" id="h_aircondition" name="h_aircondition">
            <label for="h_aircondition">Air contitioner</label>
          </div>
        </li>
        <li>
          <div class="checkbox-wrapper check-switch">
            <input type="checkbox" id="h_chimney" name="h_chimney">
            <label for="h_chimney">Electric chimney</label>
          </div>
        </li>
        <li>
          <div class="checkbox-wrapper check-switch">
            <input type="checkbox" id="h_smock-detector" name="h_smock-detector">
            <label for="h_smock-detector">Smoke detector</label>
          </div>
        </li>
        <li>
          <div class="checkbox-wrapper check-switch">
            <input type="checkbox" id="h_fire-extinguisher" name="h_fire-extinguisher">
            <label for="h_fire-extinguisher">Fire extinguisher</label>
          </div>
        </li>
        <li>
          <div class="checkbox-wrapper check-switch">
            <input type="checkbox" id="h_balcony" name="h_balcony">
            <label for="h_balcony">Balcony</label>
          </div>
        </li>
        <li>
          <div class="checkbox-wrapper check-switch">
            <input type="checkbox" id="h_first-aid-kit" name="h_first-aid-kit">
            <label for="h_first-aid-kit">First Aid Kit</label>
          </div>
        </li>
        <li>
          <div class="checkbox-wrapper check-switch">
            <input type="checkbox" id="h_bathtub" name="h_bathtub">
            <label for="h_bathtub">Bathtub</label>
          </div>
        </li>
        <li>
          <div class="checkbox-wrapper check-switch">
            <input type="checkbox" id="h_geyser" name="h_geyser">
            <label for="h_geyser">Geyser</label>
          </div>
        </li>
        <li>
          <div class="checkbox-wrapper check-switch">
            <input type="checkbox" id="h_essentails" name="h_essentails">
            <label for="h_essentails">Essentails</label>
          </div>
        </li>
        <li>
          <div class="checkbox-wrapper check-switch">
            <input type="checkbox" id="h_dish-washer" name="h_dish-washer">
            <label for="h_dish-washer">Dish washer</label>
          </div>
        </li>
      </ul>
      <a href="#" class="more"> More amenties</a>
      <br />
      <h3 class="block-title">Required Facilities</h3>
      <ul class="list-check">

        <li>
          <div class="checkbox-wrapper check-switch">
            <input type="checkbox" id="h_ebackup" name="ebackup">
            <label for="h_ebackup">24Hr Electricity Backup</label>
          </div>
        </li>
        <li>
          <div class="checkbox-wrapper check-switch">
            <input type="checkbox" id="h_parking" nh_ame="parking">
            <label for="h_parking">Parking</label>
          </div>
        </li>
        <li>
          <div class="checkbox-wrapper check-switch">
            <input type="checkbox" id="h_community-hall" name="h_community-hall">
            <label for="h_community-hall">Community Hall</label>
          </div>
        </li>
        <li>
          <div class="checkbox-wrapper check-switch">
            <input type="checkbox" id="h_club" nh_ame="club">
            <label for="h_club">Club House</label>
          </div>
        </li>
        <li>
          <div class="checkbox-wrapper check-switch">
            <input type="checkbox" id="h_restaurant" name="h_restaurant">
            <label for="h_restaurant">Restaurant</label>
          </div>
        </li>
        <li>
          <div class="checkbox-wrapper check-switch">
            <input type="checkbox" id="h_coffee-shop" name="h_coffee-shop">
            <label for="h_coffee-shop">Coffee-shop</label>
          </div>
        </li>
        <li>
          <div class="checkbox-wrapper check-switch">
            <input type="checkbox" id="h_banking-atm" name="h_banking-atm">
            <label for="h_banking-atm">Banking/ ATM</label>
          </div>
        </li>
        <li>
          <div class="checkbox-wrapper check-switch">
            <input type="checkbox" id="h_phamacy" nh_ame="phamacy">
            <label for="h_phamacy">Phamacy</label>
          </div>
        </li>
        <li>
          <div class="checkbox-wrapper check-switch">
            <input type="checkbox" id="h_shopping-mall" name="h_shopping-mall">
            <label for="h_shopping-mall">Shopping mall</label>
          </div>
        </li>
        <li>
          <div class="checkbox-wrapper check-switch">
            <input type="checkbox" id="h_supermarket" name="h_supermarket">
            <label for="h_supermarket">Supermarket</label>
          </div>
        </li>
        <li>
          <div class="checkbox-wrapper check-switch">
            <input type="checkbox" id="h_swimming-pool" name="h_swimming-pool">
            <label for="h_swimming-pool">Swimming Pool</label>
          </div>
        </li>
        <li>
          <div class="checkbox-wrapper check-switch">
            <input type="checkbox" id="h_gymnasiums" name="h_gymnasiums">
            <label for="h_gymnasiums">Gymnasiums</label>
          </div>
        </li>
      </ul>
      <a href="#" class="more"> More amenties</a>
    </div>

    <div class="btn-wrapper">
      <a href="search-page.html" class="btn btn--red">Search</a>
    </div>  
  </form>
</div>