.listing-detail {
	.block-title {
		margin: 50px 0 20px;
	}
}

.map-detail {
	position: relative;
}
.map-content {
	min-height: 500px; 
}

.map-info {
	@include absolute(top 30px left 60px);
	width: 300px;
	border:2px solid $blue;
	z-index: 1;
	background: #fff;
	padding: 10px 20px;

	h3 {
    font-size: 22px;
    text-transform: none;
	}
}
.house-code {
	padding: 10px 20px ;
	position: relative;
	font-size: $size-ml;
	text-align: center;
	border: 2px solid $gray-dark;
	text-transform: uppercase;
	z-index: 2;
	span {
		background: #fff;
		color: $color-light;
		font-size: $size-s;
		padding: 10px;
		width: 85%;
		@include absolute(bottom -8px left 50%);
    transform: translateX(-50%);
    padding: 0 10px;

	}
}

.block-signup {
	padding: 0px 20px 30px;
	border: 1px solid $color-light;
	text-align: center;
	input {
		width: 100%;
	}
	b {
		font-size: 18px;
	}
	form {
		margin-top: 20px;
	}
	.btn {
		margin-bottom: 20px;
	}
}

.item-info {
	display: flex;
	figure {
		width: 40%;
		margin-bottom: 0;
	}
	h3 {
		font-size: $size-default;
		text-transform: capitalize;
		margin-top: 20px;
	}
	p {
		font-size: $size-tooltip;
		margin-bottom: 0;
	}
	.item-desc {
		width: 60%;
		padding: 10px;
		border: 1px solid #aaa;
		border-left: none;
	}
	&:after {
		content:'';
		@extend .clearfix;
	}
}

.tab-content {
	margin: 30px 0;
}

.tab-link {
	li {
		display: inline-block;
		margin-right: 30px;
	}
	.active {
		font-weight: bold;
	}
}

.banner {
	padding: 0;
	position: relative;
	img {
		width: 100%;
	}
}

.banner__info {
	@include absolute(bottom left);
	width: 100%;
	background: rgba(#000, 0.6);
	padding: 30px 0;
	color: #fff;
	border-bottom: 5px solid $gray-dark;
}
.score {
	display: inline-block;
	text-align: center;
	vertical-align: text-bottom;
}
.number-circle {
	font-size: $size-xxl;
	display: inline-block;
	line-height: 65px;
	height: 65px;
	width: 65px;
	border:2px solid;
	margin-bottom: 10px;
	border-radius: 50%;
}

.logo-icon {
	display: inline-block;
	background: url(../images/global/logo-icon.jpg);
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin-top: -40px;
}

.project-info {
	display: inline-block;
	padding-left: 20px;

	h1 {
		margin:  0 0 10px;
		text-transform: capitalize;
		font-size: $size-xxl;
	}
	p {
		margin-bottom: 0;
	}
}

.modal.and.carousel {
  position: fixed; // Needed because the carousel overrides the position property
}

.bar-request {
	position: fixed;
	top: -100px;
	left: 0;
	height: auto;
	width: 100%;
	background: #fff;
	border-bottom: 1px solid #ddd;
	padding: 10px 0;
	z-index: 9;
	transition:0.5s;

	&.show {
		top: 0;
	}


	h3 {
		font-size: 18px;
		margin: 12px 0;
	}
	span {
		margin-left: 25px;
		font-weight: normal;
		text-transform: none;
	}
	.btn {
		z-index: 11;
		position: relative;
	}
}

.gallery-house {
	li {
		overflow: hidden;
		height: 75px;
		text-align: center;
		margin: 5px 0;
		position: relative;
	}
	img {
		@include absolute(top 50% left 50%);
		transform: translate(-50%,-50%);
		height: 100%;
		width: auto;
	}
}