.listing-detail {
}
.block-title {
	margin: 20px 0;
	width: 100%;
	@include screen(medium){
		margin: 30px 0 20px;

	}
}

.map-detail {
	position: relative;
}

.map-content {
	min-height: 500px; 
}

.list-content {
	h2 {
		font-size: 22px;
		@include screen(medium){
			font-size: 32px;
		}
	}
}

.map-info {
	@include absolute(top 30px left 20px);
	width: 280px;
	border:2px solid $blue;
	z-index: 1;
	background: #fff;
	padding: 10px 20px;
	@include screen(medium){
		width: 300px;
		left: 60px;
	}

	h3 {
		font-size: 22px;
		text-transform: none;
	}
}
.house-code {
	padding: 10px 20px ;
	position: relative;
	font-size: $size-ml;
	text-align: center;
	border: 2px solid $gray-dark;
	text-transform: uppercase;
	z-index: 2;
	float: right;
	span {
		background: #fff;
		color: $color-light;
		font-size: $size-s;
		padding: 10px;
		white-space: nowrap;
		width: 85%;
		@include absolute(bottom -8px left 50%);
		transform: translateX(-50%);
		padding: 0 10px;

	}
}

.apartment-rented {
	font-size: 28px;
	color: $red;
}

.apartment-price {
	font-size: 22px;
}

.block-signup {
	padding: 0px 20px 30px;
	border: 1px solid $color-light;
	text-align: center;
	input {
		width: 100%;
	}
	b {
		font-size: 22px;
	}
	form {
		margin-top: 20px;
	}
	.btn {
		margin-bottom: 20px;
	}
}

.item-info {
	display: flex;
	figure {
		width: 40%;
		margin-bottom: 0;
	}
	h3 {
		font-size: $size-default;
		text-transform: capitalize;
		margin-top: 20px;
	}
	p {
		font-size: $size-tooltip;
		margin-bottom: 0;
	}
	.item-desc {
		width: 60%;
		padding: 10px;
		border: 1px solid #aaa;
		border-left: none;
	}
	&:after {
		content:'';
		@extend .clearfix;
	}
}

.tab-content {
	margin: 10px 0;
}

.tab-link {
	li {
		display: inline-block;
		margin-right: 30px;
	}
	.active {
		font-weight: bold;
	}
}

.banner {
	padding: 0;
	position: relative;
	img {
		width: 100%;
	}
}

.banner__button {
	@include absolute(bottom 10px right 10px);
	.btn {
		margin-left: 10px;
		background: #fff;
		font-size: 12px;
		padding: 0 10px;
		height: 30px;
		line-height: 30px;
		min-width: 100px;
	}
}

.banner__info {
	@include absolute(bottom left);
	width: 100%;
	background: rgba(#000, 0.6);
	padding: 10px 0;
	color: #fff;
	border-bottom: 1px solid $gray-dark;
	@include screen(medium){
		padding: 30px 0;
		border-width: 5px;
	}
}


.banner-project {
	background:url("../images/dummy/hoozing_star-hill.png") no-repeat center;
	background-size:cover;
	height:0;
	padding-bottom: 100%;
	@include screen(medium){
		@include responsive-bg-image(1440,617);
	}
}


.banner--china-town {
	background:url("../images/dummy/chinatown_featured.jpg") no-repeat center;
	background-size:cover;
	height:0;
	padding-bottom: 100%;
	@include screen(medium){
		@include responsive-bg-image(1440,618);
	}
}

.score {
	display: inline-block;
	text-align: center;
	vertical-align: text-bottom;
}
.number-circle {
	font-size: 20px;
	display: inline-block;
	line-height: 38px;
	height: 40px;
	width: 40px;
	border: 2px solid;
	margin-bottom: 10px;
	border-radius: 50%;
	@include screen(medium){
		font-size: $size-xxl;
		line-height: 65px;
		height: 65px;
		width: 65px;
	}
}

.logo-icon {
	display: inline-block;
	background: url(../images/global/logo-icon.jpg);
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin-top: -40px;
}

.project-info {
	display: inline-block;
	padding-left: 20px;

	h1 {
		margin:  0 0 10px;
		text-transform: capitalize;
		font-size: 14px;;
		@include screen(medium){
			font-size: $size-xxl;
		}
	}
	p {
		margin-bottom: 0;
	}
}

.modal.and.carousel {
	position: fixed; // Needed because the carousel overrides the position property
}

.bar-request {
	position: fixed;
	height: auto;
	width: 100%;
	background: #fff;
	border-bottom: 1px solid #ddd;
	padding: 10px 0;
	z-index: 9;
	transition:0.5s;
	opacity:0;
	bottom: -100px;
	left: 0;
	@include screen(medium){
		top: -100px;
		bottom: auto;
	}

	&.show {
		opacity:1;
		bottom: 0;
		@include screen(medium){
			top: 0;
			bottom: auto;
		}
	}
	.btn {
		line-height: 30px;
		font-size: 10px;
		padding: 0 10px;
		text-align: center;
		margin-top: 5px;
		height: 30px;
		z-index: 11;
		position: relative;
		@include screen(medium){
			margin-top: 15px;
			font-size: 14px;
		}
	}

	.inspect__info {
		margin-top: 20px;
		.btn {
			width: 100%;
			@include screen(medium){
			}
		}
	}


	h3 {
		font-size: 18px;
		margin: 12px 0;
		display: inline-block;
	}
	span {
		margin-left: 25px;
		font-weight: normal;
		text-transform: none;
		margin: 5px;
	}
}

.gallery-house {
	padding: 0 15px;
	li {
		overflow: hidden;
		height: 75px;
		text-align: center;
		margin: 5px 0;
		position: relative;
	}
	img {
		@include absolute(top 50% left 50%);
		transform: translate(-50%,-50%);
		height: 100%;
		width: auto;
	}
}

.thumb-service {
	.show-for-small {
		width: 100%;
	}
}
.view-more {
	color: $blue;
	border-bottom: 1px solid;
}

.block-aside {
	display: none;
	@include screen(medium){
		display: block;
	}
}

.project__property {
	.block-title {
		@include screen(small){
			margin-top: 0;
		}
	}
}