.search-control {
  background: #f9f9f9;
  border-top: 1px solid $gray-medium;
  border-bottom: 1px solid $gray-medium;
  padding: 10px;
  position: relative;
  @include screen(medium){
    padding: 30px;
  }
  @extend %clearfix;

  .wrap-tag {
    margin: 10px 0; 
  }
  .select-wrapper, .checkbox-list {
    display: inline-block;
    margin-bottom: 0;
    z-index: 11;
  }
  .btn-submit {
    top: 3px;
    @include screen(medium){
    }
  }
}

.map-result{
  width: 60%;
  float: right;
  display: none;
  position: relative;
  @include screen(medium){
    max-height: calc(100vh - 172px);
    overflow: hidden;
  }
  &.show {
    display: none !important;
    @include screen(medium){
      display: inline-block !important;
    }
  }
}

.wrap-tab {
  padding: 10px;
}

.tab-content {
  display: none;
  &.active {
    display: block;
  }
}

.search__list {
  font-size: 16px;
  margin: 0;
  padding: 30px 0 10px;

  > div {
    display: inline-block;
    margin-right: 20px;
  }

  .select-wrapper {
    display: inline-block;
    width: 180px;
    height: 28px;
    line-height: 28px;
    &:after {
      top: 5px;
    }
  }

  select {
    height: 28px;
  }
}

.open-map {
  .map-result {
    display: block;
  }
}


.search__result {
  font-weight: bold;
}

.search__layout {
  display: inline-block;

  li {
    display: inline-block;
  }
  a {
    color: $color-light;
    margin-left: 10px; 
    cursor: pointer;
    @include screen(medium){
      &:hover {
        color: $color-default;
      }
    }
  }
  .active {
    color: $color-default;
  }
}
.list-check {
  @extend .clearfix;
  li {
    display: inline-block;
    vertical-align: top; 
    width: 49%;
    min-width: 150px;
    @include screen(medium){
      float: left;
      width: 25%;
    }
  }
}

.search-content {
  padding: 0;
  .thumb-item {
    padding: 10px;
    @include screen(medium){
      padding: 10px;
    }
  }
}

.tab--reduce {
  @include screen(medium){
    display: inline-block;
    width: 40%;
    max-height: calc(100vh - 172px);
    overflow: hidden;
    overflow-y:auto;
  }
}

.search-detail {
  .thumb-item {
  }
  .tab-content {
    text-align: center;
  }
}

.list-count {
  font-size: 18px;
}
.project, .grid {
  .thumb-item {
    @include screen(medium){
      max-width: 20%;
    }
  }
}
.project {
  .thumb-item {
    float: left;
  }

  .tab-content {
    text-align: left;
  }
}


.search-content--small {
  float: left;
  max-width: 40%;
  max-height: 100vh;
  overflow-y: auto;
  .thumb-item {
    width: 50%;
  }
}
.thumb-list {
  .thumb-item {
    @include screen(medium) {
      width: 50%;
    }
  }

}

.filter-wrapper {
  position: relative;
  padding: 10px 0;
  .link {
    margin-left: 10px;
  }

  .btn-wrapper {
    text-align: left;
  }

  .close-modal {
    top: 0;
  }
}

#advance-filter {
  .fa-angle-down {
    transition:0.5s;
    font-size: 18px;
    transform:rotate(0deg);
  }
  &.collapsed {
    .fa-angle-down {
      transform:rotate(-180deg);
    }
  }
}


///asdasd

/* HOME */

.container {
  position: relative;
}

.popup-tip-anchor {
  height: 0;
  position: absolute;
}


/* The bubble is anchored above the tip. */

.link {
  text-decoration: underline;
  color: #000;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
}

.popup-bubble-anchor {
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0;
}

.popup-bubble-anchor::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid #fff;
}

.popup-bubble-content {
  cursor: pointer;
  position: absolute;
  top: 2px;
  left: 0;
  padding: 0;
  transform: translate(-50%, -100%);
  overflow-y: hidden;

  border-radius: 5px;
  font-family: sans-serif;
  overflow: hidden;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.5);

  background: #fff;
  padding: 10px;
  text-align: left;
  font-weight: bold;
  font-size: 18px;
  &:hover {
    transform: translate(-50%, -100%) scale(1.05);
  }
  &.show {
    z-index: 99;
    transform: translate(-50%, -100%);
  }
  .popup__image {
    width: 300px;
    display: block;
    opacity: 1;
    margin-top: 0;
    transition: all .5s ease;
  }
  .popup-wrapper {
    display: none;
    opacity: 0;
    transition: all .5s ease-in-out;
    .link {
      display: inline-block;
    }
  }
  .show-popup {
    &.popup-wrapper {
      cursor: context-menu;
      display: block;
      opacity: 1;
      width: 100%;
      padding: 0;
      max-width: 300px;
      transition: all .5s ease-in-out;
      .popup__close {
        cursor: pointer;
        position: absolute;
        top: 3px;
        z-index: 2;
        right: 3px;
        width: 20px;
        height: 20px;
        display: block;
        background: transparent;
        &:after, &:before {
          content: "";
          display: block;
          width: 90%;
          height: 2px;
          border-radius: 1px;
          background-color: #fff;
          top: 50%;
          left: 0;
          position: absolute;
        }
        &:before {
          transform: translateY(-50%) rotate(-45deg);
        }
        &:after {
          transform: translateY(-50%) rotate(45deg);
        }
      }
      .popup__title {
        padding: 10px;
        color: #fff;
        background-color: rgba(19, 143, 52, 0.9);
      }
      .popup__text {
        padding: 10px;
        background-color: #fff;
      }
    }
  }
  .thumb-list {
    width:300px;
  }
}


.search-wrapper {
  position: absolute;
  left: 50%;
  top: 50px;
  width: 90%;
  transform: translateX(-50%);
  @include screen(small) {
    left: 150px;
    top: 10px;
    width: 500px;
    transform:none;
  }
  .select-location {
    padding: 5px 25px 5px 15px;
    border-radius: 15px;
    height: 30px;
    outline: 0 none;
    position: relative;
    width: 100%;
    background: #fff;
    @include screen(small) {
    }
    .location-default {
      border: none;
    }
  }
  .btn-list-location {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    border-radius: 50%;
    width: 31px;
    height: 31px;
    background: red;
    opacity: 0;
    visibility: hidden;
    user-select: none;
    transition: all .5s ease;
    &.show {
      user-select: auto;
      opacity: 1;
      visibility: visible;
    }
  }
  .badge-list-location {
    cursor: pointer;
    font-size: 8px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px 5px;
    border-radius: 50%;
    background: #fff;
  }
  .list-location-wrapper {
    position: absolute;
    user-select: none;
    padding: 5px;
    top: 120%;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease;
    background: white;
    table {
      border-collapse: collapse;
      width: 100%;
      text-align: left;
      tr:not(:first-child) {
        border-bottom: 1px dashed #000;
      }
      th {
        padding: 10px;
        border-bottom: 1px solid #000;
      }
      td {
        cursor: pointer;
        padding: 10px;
      }
    }
    .list-location-item {
      cursor: pointer;
      background: white;
      width: 100%;
      padding: 5px;
    }
    &.show {
      opacity: 1;
      visibility: visible;
      user-select: auto;
    }
  }
}

.list-box {
  text-align: left;
  padding: 10px;
}

.map-control {
  font-family: 'Roboto','sans-serif';
  margin: 10px;
  padding: 10px;
  li {
    display: inline-block;
    margin: 0 5px;
  }
}

#map {
  max-height: calc(100vh - 172px);
}

.selector-control {
  font-size: 14px;
  line-height: 30px;
  vertical-align: baseline;
}
.list-info {
  text-align: left;
  padding: 20px 0 0;
  border-top:1px solid #c3c3c3;
  margin-top: 30px;
  @include screen(medium){

    padding: 20px 0;
  }
}