.search-control {
  padding: 30px;
  background: #f9f9f9;
  border-top: 1px solid $gray-medium;
  border-bottom: 1px solid $gray-medium;

  .select-wrapper {
    display: inline-block;
    margin-bottom: 0;
  }
}


.search__show {
  font-size: 16px;

  > div {
    display: inline-block;
    margin-right: 20px;
  }

  .select-wrapper {
    display: inline-block;
    width: 180px;
    height: 28px;
    line-height: 28px;
    &:after {
      top: 5px;
    }
  }

  select {
    height: 28px;
  }
}

.search__result {
  font-weight: bold;
}

.search__layout {
  a {
    color: $color-light;
    margin-left: 10px; 
    cursor: pointer;
    @include screen(medium){
      &:hover {
        color: $color-default;
      }
    }
  }
  .active {
    color: $color-default;
  }
}

.search-content {
  padding: 30px;
}

.search-detail {
  .thumb-item {
    width: 20%;
    padding: 0 15px;
  }

}
.thumb-list {
  .thumb-item {
    @include screen(medium) {
      width: 50%;
    }
  }

}

.filter-wrapper {
  .link {
    margin-left: 10px;
  }
}

.search-content--small {
  max-width: 50%;
}

#advance-filter {
  .fa-angle-down {
    transition:0.5s;
    font-size: 18px;
    transform:rotate(0deg);
  }
  &.collapsed {
    .fa-angle-down {
      transform:rotate(-180deg);
    }
  }
}